{% load static staticfiles  sekizai_tags menu_tags cms_tags core vuejs %}


<header class="main-header">
  <div class="header-wrapper d-flex flex-row justify-content-between align-items-center">
    <div class="header-wrapper__left d-flex flex-row align-items-center">
      <div class="logo">
      {% with current_url_name=request|url_name %}
        <a href="{% page_url 'home' %}" class="active">
          <img src="{% static 'images/logo.svg' %}" alt=Logo">
        </a>
      {% endwith %}
      </div>
      {% if user.is_authenticated %}
        <div class="start-project">
          {% if user.is_customer %}
            <a href="{% url 'create-project' %}">
              <span class="mdi mdi-plus">
                  <svg class="circle-plus" expanded="true" height="40px" width="40px">
                      <circle class="innerCircle" cx="50%" cy="50%" r="11px"></circle>
                  </svg>
              </span>
              <span class="start-text">Add a project</span>
            </a>
          {% elif user.is_contractor %}
            <a href="{% url 'create-service' %}">
              <span class="mdi mdi-plus">
                  <svg class="circle-plus" expanded="true" height="40px" width="40px">
                      <circle class="innerCircle" cx="50%" cy="50%" r="11px"></circle>
                  </svg>
              </span>
              <span class="start-text">Add a service</span>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="header-wrapper__right d-flex flex-row justify-content-between align-items-center">
      {% if request.is_mobile %}
        <nav class="main-nav">
          {% if user.is_pm %}
            <a href="{% page_url 'projects-pm' %}">Projects</a>
            <a href="{% page_url 'services-pm' %}">Services</a>
          {% endif %}
          {% if not user.is_pm %}
            <a href="{% page_url 'intellectual-services' %}">Intellectual services</a>
          {% endif %}
          <a href="{% page_url 'news' %}">What's new?</a>
          <a href="{% page_url 'blogs' %}">Blogs</a>
          <a href="{% page_url 'education' %}">EDU</a>
          <a href="{% page_url 'careers' %}">Careers</a>
          <a href="{% page_url 'partnership' %}">Partnership</a>
          <a href="{% page_url 'about' %}">About</a>
        </nav>

      {% else %}
        {% show_menu %}
      {% endif %}

      <div class="select-lang-wrapper">
        <div class="dropdown dropdown-select-lang">
          <button type="button" class="selected-lang" data-toggle="dropdown" aria-expanded="false">
            En <span class="mdi mdi-chevron-down"></span>
          </button>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item selected" href="#">En</a>
            <a class="dropdown-item" href="#">Fr</a>
            <a class="dropdown-item" href="#">De</a>
          </div>
        </div>
      </div>
      <div class="profile-wrapper">
        {% if request.user.is_authenticated %}
        <div class="dropdown dropdown-profile">
          <span class="profile-icon" data-toggle="dropdown" aria-expanded="false">
            <span class="mdi mdi-account-circle"></span>
            <span class="unread-message"></span>
          </span>
          <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
            style="position: absolute; transform: translate3d(-291px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
            <div class="dropdown-profile-top d-flex flex-row justify-content-between align-items-center">
              <span class="name">{{ user.work.company.name }}</span>
              <a href="{% url 'logout' %}" class="logout-button"><span class="mdi mdi-logout-variant"></span></a>
            </div>
            <div class="row">
              {% if not user.is_native_user %}
              <div class="col-md-7 profile-list">
                <span>My Stuff</span>
                <a href="{% page_url 'projects' %}">Projects</a>
              </div>
              <div class="col-md-5 profile-list">
                <span>Settings</span>
                <a href="{% page_url 'profile' %}">My profile</a>
              </div>
              {% else %}
              <div class="col-md-7 profile-list">
                <span>My Stuff</span>
                {% if user.work %}
                {% if not user.is_pm %}
                <a href="{% page_url 'company' %}">Company</a>
                {% endif %}
                {% if user.is_pm or user.is_customer or user.is_contractor %}
                <a href="{% page_url 'projects' %}">Projects</a>
                {% endif %}
                {% if user.is_contractor %}
                <a href="{% page_url 'services' %}">Services</a>
                {% endif %}
                {% if user.has_intellectual_services or user.is_pm %}
                <a class="profile-notification-status" href="{% page_url 'chat' %}">Chat
                  <span class="unread-message"></span>
                </a>
                {% endif %}
                {% endif %}
                {% if user.is_owner or user.is_pm %}
                <a href="{% page_url 'membership' %}">Membership</a>
                {% endif %}
                {% if user.has_intellectual_services and not user.is_contractor %}
                <a href="{% page_url 'documents' %}">Contract and documents</a>
                {% endif %}

              </div>
              <div class="col-md-5 profile-list">
                <span>Settings</span>
                <a href="{% page_url 'profile' %}">My profile</a>
                {% if user.is_profile_completed %}
                <a href="{% page_url 'notifications' %}">Notification</a>
                {% endif %}
              </div>
              {%endif%}
            </div>
          </div>
        </div>
        {% else %}
          <a href="{% page_url 'sign-in' %}">
            <span class="profile-icon">
              <span class="mdi mdi-account-circle"></span>
            </span>
          </a>
        {% endif %}
      </div>
      <div class="mobile-menu-button">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
      </div>
    </div>
  </div>
  <div id="notification"></div>
  {% addtoblock "js" %}
  {% render_component "Notification" el="notification" data=data %}
  {% endaddtoblock %}
</header>
