{% extends 'partnership/base.html' %}
{% load cms_tags static vuejs sekizai_tags staticfiles %}

{% block partnership_content %}
    <section class="section-about">
        <div class="wrapper">
            <div class="banner">
                <img src="{% static 'images/partner-commercial-1.jpg' %}" alt="" class="img-fluid">
                {% placeholder 'image_title' %}
            </div>
            <div class="about-info-wrapper" id="acc-finance">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        {% placeholder 'text_block_1_title' %}
                    </div>
                    <div class="col-lg-6 col-md-8">
                        {% placeholder 'text_block_1_text' %}
                        <span class="btn-site" data-toggle="modal" data-target="#partnership-modal">Send request</span>
                    </div>
                </div>
            </div>
            <div class="about-info-wrapper" style="padding-top: 0;">
                <div class="banner banner-content">
                    <img src="{% static 'images/partner-commercial-2.jpg' %}" class="img-fluid" alt="">
                    <div class="banner-content-wrap">
                        {% placeholder 'review' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}