{% extends 'partnership/base.html' %}
{% load cms_tags static vuejs sekizai_tags staticfiles %}

{% block partnership_content %}
    <section class="section-about">
        <div class="wrapper">
            <div class="banner">
                <img src="{% static 'images/partner-software-1.jpg' %}" alt="" class="img-fluid">
                {% placeholder 'image_title' %}
            </div>
            <div class="about-info-wrapper" id="acc-finance">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        {% placeholder 'text_block_1_title' %}
                    </div>
                    <div class="col-lg-6 col-md-8">
                        {% placeholder 'text_block_1_text' %}
                    </div>
                </div>
            </div>
            <div class="about-info-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <h2 class="about-title">Search software</h2>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="software-search">
                            <form action="{% url 'software_search' %}" method="get">
                                <input type="search" placeholder="Type name software" name="q" value="{{ search_query }}">
                                <button type="submit">
                                    <span class="mdi mdi-magnify"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="software-solutions">
                <span class="software-title">Popular solutions</span>
                <div class="row flex-wrap">
                    {% for obj in objects %}
                        <div class="col-md-6">
                            <a href="{% url 'software_detail' obj.pk %}" class="software-col d-flex">
                                <div class="software-logo">
                                    <img src="{{ obj.logo.url }}" alt="">
                                </div>
                                <div class="software-info d-flex flex-column justify-content-between">
                                    <div class="software-info-top">
                                        <span class="software-info-title">{{ obj.name }}</span>
                                    </div>
                                    <div class="software-info-bottom d-flex">
                                        <div class="software-info-bottom-col">
                                            <span>Size</span>
                                            <i>{{ obj.size }}</i>
                                        </div>
                                        <div class="software-info-bottom-col">
                                            <span>License</span>
                                            <i>free</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
