<template>
  <div class="filters-wrapper">
    <div class="filter-col">
      <label>
        Show me
        {{ isCustomer ? 'experts' : 'projects' }}
        in
      </label>
      <div class="select-wrapper">
        <span class="mdi mdi-menu-down" />
        <select
          :value="$route.params.industry"
          @input="handleIndustryChange"
          v-model="industryCategorySelect"
        >
          <option :value="null">
            Industry
          </option>
          <option
            v-for="item in industries"
            :key="item.id"
            :value="item.slug"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-col">
      <label>
        {{
          isCustomer ? 'skilled in' : 'relevant to'
        }}
      </label>
      <div class="dropdown dropdown-select dropdown-select-location">
        <div
          v-tooltip="!$route.params.industry && 'You have to select an industry first'"
          class="selected-wrap"
          :class="!$route.params.industry ? 'disabled' : ''"
          data-toggle="dropdown"
        >
          <span class="selected-item">
            {{ selectedSkill && selectedSkill.name || 'Core Skill' }}
          </span>
          <span class="mdi mdi-magnify" />
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-search">
            <span class="mdi mdi-magnify icon-left" />
            <span
              class="mdi mdi-close icon-right"
              @click.prevent="clear"
            />
            <input
              v-model="search"
              type="search"
              placeholder="Start typing..."
              autofocus
            >
          </div>
          <div class="dropdown-list-wrapper">
            <div class="dropdown-list">
              <div class="dropdown-list-row">
                <a
                  v-for="item in coreSkillsData.slice(0, 7)"
                  :key="item.id"
                  href="#"
                  @click.prevent="setCoreSkill(item)"
                >
                  {{ item.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-col sorted-by-dropdown">
      <label>Sorted by</label>
      <div class="select-wrapper">
        <span class="mdi mdi-menu-down" />
        <select v-model="order">
          <option
            v-if="isCustomer"
            value="rating"
          >
            Rating
          </option>
          <option
            v-else
            value="-date"
          >
            Newest
          </option>
          <option value="date">
            Oldest
          </option>
          <option
            v-if="isCustomer"
            value="relevance"
          >
            Relevant
          </option>
          <option value="-popularity">
            Popularity
          </option>
          <option
            v-if="isCustomer"
            value="recommended"
          >
            Recommended by ENGRE
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import { UrlQueryMixin, FiltersMixin } from '@/mixins'
import { filterMatcher } from '.'

export default {
  name: 'Filters',
  mixins: [UrlQueryMixin, FiltersMixin],
  props: {
    industries: {
      type: Array,
      default: () => []
    },
    // coreSkills: {
    //   type: Array,
    //   default: () => []
    // },
    user: {
      type: Object,
      default: null
    },
    isCustomer: {
      type: Boolean,
      required: true
    },
    additionalFilterData: {
      type: Object,
    },
  },
  data() {
    return {
      industry: null,
      selectedSkill: this.$route.params.coreSkill ? { name: this.$route.params.coreSkill } : null,
      order: this.isCustomer ? 'recommended' : '-popularity',
      coreSkillsData: [],
      search: '',
      industryCategorySelect: this.$route.params.industry || null
    }
  },
  watch: {
    search(value) {
      if (value) {
        this.searchCoreSkills(value)
      } else if (value === '') {
        this.coreSkillsData = []
      }
    },
    order() {
      this.handleFiltersChange()
    },
    industryCategorySelect() {
        this.checkSearchingData()
    }
  },
  created() {
    this._getDataFromUrlQuery(filterMatcher)
    bus.$on('filtersChange', this.setFilters)
  },
  methods: {
    async handleIndustryChange(event) {
      // window.location.replace(`${window.location.protocol}//${window.location.host}/${this.$route.params.base}/${this.$route.params.category}/${event.target.value}`)
      if (this.user.company == null) {
        window.location = '/settings/company/'
      }
    },

    async checkSearchingData(){
      const response = await this.fetchData(this.$route.params.searchFilter)
      if (response.length) {
        let url = `${window.location.protocol}//${window.location.host}/${this.$route.params.base}/${this.$route.params.category}/`
        url += this.industryCategorySelect ? `${this.industryCategorySelect}/` : ''
        if (this.selectedSkill) {
          url += this.selectedSkill.slug ? `${this.selectedSkill.slug}/` : ''
        }

        this.$emit('checkDataStart')
        window.location.replace(url)
      } else {
        this.$emit('noDataFound')
      }

    },

    async fetchData(paramsData) {
      if (this.user) {
        this.$emit('checkDataStart')
        const params = {
          ...paramsData,
          core_skills__slug: this.selectedSkill ? this.selectedSkill.slug : null,
          category__slug: this.$route.params.category,
          industry__slug: this.industryCategorySelect,
          order_by: this.order,
          page: 1
        }

        const urlRole = this.getUrl()

        const { data } = await axios({
          method: 'get',
          params: { ...params },
          url: urlRole
        })

        this.$emit('checkDataFinish')
        return data.results
      } else {
        this.redirectToSignIn()
      }

    },

    redirectToSignIn() {
      window.location = `/sign-in/?next=${this.$route.fullPath}`
    },

    getUrl(){
      if (this.user.company) {
        return this.user.company.role == 2 ? '{% url "intellectual-services-api" %}' : '{% url "projects-api" %}'
      } else {
        return '{% url "projects-api" %}'
      }
    },

    handleFiltersChange() {
      const { industry, selectedSkill, order } = this

      bus.$emit('filtersChange', { industry, coreSkill: selectedSkill && selectedSkill.slug, order })
    },
    setCoreSkill(item) {
      this.selectedSkill = item
      if (this.$route.params.searchFilter) {
        this.$route.params.searchFilter.core_skill = this.selectedSkill.slug
      } else {
        console.error('searchFilter was undefined')
      }
      this.checkSearchingData()
      // window.location.replace(`${window.location.protocol}//${window.location.host}/${this.$route.params.base}/${this.$route.params.category}/${this.$route.params.industry}/${item.slug}`)
    },
    async searchCoreSkills(value) {
      const response = await axios({
        method: 'get',
        url: '{% url "core-skills-api" %}',
        params: {
          name__icontains: value,
        }
      })

      if (response.status === 200) {
        this.coreSkillsData = response.data.results
      }
    },
    clear() {
      this.selectedSkill = null
      this.search = ''
      this.handleFiltersChange()
    },
    beforeRouteUpdate(to, from, next) {
       to.params.category = this.category
       to.params.industry = this.industry
       to.params.coreSkill = this.selectedSkill
       next()
    }
  }
}
</script>
