<template>
  <div class="settings-user-info d-flex flex-row justify-content-between align-items-center">
    <template v-if="user">
      <span v-show="user.role === 1">
        <i>Explore </i>{{ settings.projects_count.toLocaleString() }} projects
      </span>
      <span v-show="user.role === 2">
        <i>Average rate </i>in your region <i>${{ settings.average_rate }}</i>
      </span>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Info',
  props: {
    user: {
      // type: Object,
      required: true
    },
    settings: {
      // type: Object,
      required: true
    }
  }
}
</script>
