<template>
  <div class="review-block">
    <div class="row review-block-top align-items-center">
      <div class="col-sm-6">
        <div class="is-row-info d-flex align-items-center">
          <div class="is-row-img">
            <img
              :src="review.project.company.logo"
              alt="Logo"
            >
          </div>
          <div class="is-row-details">
            <a
              :href="review.project.company.url"
              target="_blank"
              class="details-page-link"
            >
              {{ review.project.company.name }}
            </a>
            <span class="location">
              {{ review.project.company.location && review.project.company.location.pretty }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <Rating :rating="review.rating" />

        <div class="row">
          <div class="col-sm-6">
            <div class="is-col">
              <span>Date of posting</span>
              <mark>{{ review.createdAt | date }}</mark>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="is-col">
              <span>Budget</span>
              <mark>${{ review.project.budget }}</mark>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-content-wrap">
      <div class="review-content-top d-flex">
        <span class="mdi mdi-format-quote-close" />
        <div class="review-content-info">
          <i>Feedback on the project</i>
          <a href="#">
            {{ review.project.name }}
          </a>
        </div>
      </div>
      <p class="review-text">
        {{ review.text }}
      </p>
    </div>
  </div>
</template>

<script>
import Rating from '@/components/Rating'
import moment from 'moment'

export default {
  name: 'Review',
  components: { Rating },
  filters: {
    date(value) {
      return moment(value).format('DD.MM.YYYY')
    }
  },
  props: {
    review: {
      type: Object,
      required: true
    }
  }
}
</script>
