<template>
  <Modal
    id="reviews-modal"
    class="reviews-modal"
  >
    <div
      v-if="selectedCompany"
      class="modal-content"
    >
      <span
        class="close-modal"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span class="mdi mdi-close" />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <span class="mdi mdi-message-text" />
          <i>Reviews of the “{{ selectedCompany.name }}”</i>
        </div>
      </div>
      <div class="modal-wrapper">
        <div class="row reviews-top">
          <div class="col-md-6 col-sm-7">
            <div class="is-row-info d-flex align-items-center">
              <div class="is-row-img">
                <img
                  :src="selectedCompany.logo"
                  alt="Logo"
                >
              </div>
              <div class="is-row-details">
                <a
                  :href="selectedCompany.url"
                  target="_blank"
                  class="details-page-link"
                >
                  {{ selectedCompany.name }}
                </a>
                <span class="location">
                  {{ selectedCompany.location && selectedCompany.location.pretty }}
                </span>
                <span class="reviews">
                  <a
                    :href="website"
                    target="_blank"
                  >
                    {{ website }}
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5">
            <Rating :rating="selectedCompany.rating" />

            <div class="row">
              <div class="col-3">
                <div class="is-col">
                  <span>Rating</span>
                  <mark class="fz-bigger">
                    {{ selectedCompany.rating }}
                  </mark>
                </div>
              </div>
              <div class="col-3">
                <div class="is-col">
                  <span>Reviews</span>
                  <mark class="fz-bigger">
                    {{ selectedCompany.reviews_count }}
                  </mark>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-wrap">
          <img
            src="/static/images/wave.svg"
            alt=""
          >
        </div>

        <Review
          v-for="review in reviews"
          :key="review.id"
          :review="review"
        />
      </div>
    </div>
  </Modal>
</template>

<script>
import Rating from '@/components/Rating'
import Review from './Review'
import Modal from '@/components/Modal'
import bus from './bus'
import axios from 'axios'

export default {
  name: 'ReviewList',
  components: {
    Rating,
    Review,
    Modal,
  },
  props: {
    company: {
      type: Object,
      default: () => ({}),
    }
  },
  data() {
    return {
      selectedCompany: this.company,
      reviews: []
    }
  },
  computed: {
    website() {
      if (!/^https?:\/\/.*/.test(this.selectedCompany.website)) {
        return `https://${this.selectedCompany.website}`
      }

      return this.selectedCompany.website
    }
  },
  mounted() {
    bus.$on('showReviews', (company) => {
      this.getReviews(company)
      this.selectedCompany = company
    })
  },
  methods: {
    async getReviews(company) {
      const url = '{% url "reviews-api" %}'

      const { data } = await axios({
        url,
        params: { company: company.id }
      })

      this.reviews = data
    },
  }
}
</script>
