<template>
  <div v-if="loading">
    loading...
  </div>
  <div
    v-else
    class="admin-container__body"
  >
    <Filters />
    <Item
      v-for="item in filteredUsers"
      :key="item.id"
      :item="item"
    />
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
    <Modal
      v-if="showModal"
      :should-show="showModal"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import InfiniteLoading from 'vue-infinite-loading'
import bus from './bus'
import Filters from './Filters'
import Item from './Item'
import Modal from './Modal'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'UserManagement',
  components: {
    Filters,
    Item,
    InfiniteLoading,
    Modal
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      loading: true,
      page: 1,
      hasNext: false,
      users: [],
      // filter vars
      search: '',
      role: null,
      showModal: false,
      type: null
    }
  },
  computed: {
    filteredUsers() {
      let { users } = this

      if (this.search) {
        users = users.filter(user => user.email.indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.role === 'customer') {
        users = users.filter(user => user.is_customer)
      }

      if (this.role === 'contractor') {
        users = users.filter(user => user.is_contractor)
      }

      if (this.role === 'pm') {
        users = users.filter(user => user.is_pm)
      }

      if (this.role === 'blogger') {
        users = users.filter(user => user.is_blogger)
      }

      if (this.role === 'content manager') {
        users = users.filter(user => user.is_content_manager)
      }

      return users
    }
  },
  watch: {
    search(value) {
      if (!value) {
        this.page = 2
      }
      this.refetchData()
      this.page = 2
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
    bus.$on('activate', this.activate)
    bus.$on('remove', this.remove)
    bus.$on('selectType', this.show)
    bus.$on('closeModal', this.close)
    bus.$on('createUser', this.createUser)
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-users" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.users = response.data.results
    }

    this.hasNext = !!response.data.next
    this.page += 1
  },
  methods: {
    show(type) {
      this.type = type
      this.showModal = true
    },
    close() {
      this.showModal = false
    },
    handleFilters({ name, value }) {
      this[name] = value
    },
    async createUser(email) {
      const data = {
        email,
        type: this.type
      }

      const response = await axios({
        method: 'post',
        url: '{% url "admin-create-user" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        this.notify('success', 'Email with password reset link sent to email you provided')
        this.showModal = false
      } else {
        this.notify('error', 'Something went wrong')
      }
    },
    async infiniteHandler($state) {
      const hasNext = await this.loadMore()

      if (hasNext) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async loadMore() {
      if (this.hasNext) {
        const users = await this.fetchData(this.page)
        this.users.push(...users)
      }

      return this.hasNext
    },
    async fetchData(page = 1) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "admin-get-users" %}',
        params: {
          email__icontains: this.search,
          page,
        }
      })

      this.hasNext = !!data.next
      this.page = page + 1

      return data.results
    },
    async refetchData() {
      const users = await this.fetchData()
      this.users = users
    },
    async activate(pk) {
      const response = await axios({
        method: 'put',
        url: '{% url "admin-activate-user" %}',
        data: { pk },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        const index = this.users.findIndex(user => user.id === pk)
        this.$set(this.users, index, response.data)
      }
    },
    async remove(pk) {
      const url = '{% url "remove-user" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.users.findIndex(user => user.id === pk)
              this.users.splice(index, 1)
              this.notify('success', 'User has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>

<style>

</style>
