<template>
  <Form
    :fields="fields"
    method="post"
    :submit="submit"
  >
    <template slot-scope="{ models: { password, password2 }, isValid, isLoading }">
      <InputRow
        id="password"
        v-model="password.value"
        type="password"
        label="Password"
        name="new_password1"
        :error="password.error"
      />
      <InputRow
        id="password2"
        v-model="password2.value"
        type="password"
        name="new_password2"
        label="Password confirm"
        :error="password2.error"
      />
      <Submit
        class="btn-site"
        :disabled="!isValid"
        :loading="isLoading"
      />
    </template>
  </Form>
</template>

<script>
import Form, { InputRow, Submit } from '@/components/Form'
import { isRequired, shouldBeEqual, minLength } from '@/utils/validators'
import Cookies from 'js-cookie'
import axios from 'axios'
import { NotificationMixin } from '@/mixins'
import {Toast} from "@/utils";

export default {
  name: 'PasswordResetConfirm',
  mixins: [NotificationMixin],
  components: {
    Form,
    InputRow,
    Submit
  },
  data() {
    return {
      uid: this.$route.params.uid,
      email: null,
      password: null,
      fields: [
        { name: 'password', validators: [isRequired, minLength(4)] },
        { name: 'password2', validators: [isRequired, shouldBeEqual('password', 'Passwords do not match')] }
      ]
    }
  },
  computed: {
    csrfToken() {
      return Cookies.get('csrftoken')
    }
  },
  methods: {
     async submit(values) {
      const data = {
        uid: this.uid,
        password: values.password
      }
       try {
           const response = await axios({
             url: '/invite/',
             method: 'post',
             data,
             headers: { 'X-CSRFToken': this.csrfToken },
           })
           console.log(response)
           if (response.data.email) {
             console.log(response.data.email)
             this.password = values.password;
             this.email = response.data.email;
             this.login()
           }
       } catch (e) {
         console.log(e.response)
         this.notify('error', 'Something went wrong!')
       }

    },
    async login() {
      try {
        const csrfToken = Cookies.get('csrftoken')
        const data = {
          email: this.email,
          password: this.password
        }

        const response = await axios({
          method: 'post',
          url: '{% url "sign-in" %}',
          data,
          headers: { 'X-CSRFToken': csrfToken },
        })

        if (response.data.success) {
          window.location.replace('{% url "profile" %}')
        } else {
          Toast.fire({
            type: 'error',
            title: 'Email or password is invalid'
          })
        }
      } catch (e) {
        console.log(e)
      }
    },
  }
}
</script>
