<template>
  <div class="comment-wrapper">
    <div class="comment-wrapper__author-info d-flex justify-content-between align-items-center">
      <div class="author-info-block no-link d-flex">
        <div class="author-detail-info">
          <span>{{ newsArticle.created_at | date }}</span>
          <a href="#">
            {{ newsArticle.author.name }}
          </a>
        </div>

        <div class="detail-info-hover">
          <div class="di-hover-wrapper">
            <div class="di-hover-top row">
              <div class="col-4">
                <div class="di-img">
                  <img
                    :src="newsArticle.author.picture"
                    alt=""
                  >
                </div>
              </div>
              <div class="col-8">
                <div class="di-text">
                  <div class="is-col">
                    <span>On site 2y 10m</span>
                    <mark>{{ newsArticle.author.name }}</mark>
                  </div>
                  <div
                    v-if="newsArticle.author.company"
                    class="is-col"
                  >
                    <span>Company</span>
                    <a href="#">
                      {{ newsArticle.author.company.name }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="di-bottom-info d-flex align-items-baseline">
              <div class="di-bottom-col">
                <i class="mdi mdi-star" />
                <mark>{{ newsArticle.author.rating }}</mark>
              </div>
              <div class="di-bottom-col">
                <i class="mdi mdi-comment-text-outline" />
                <mark>{{ newsArticle.author.news_comments_count }}</mark>
              </div>
              <div class="di-bottom-col">
                <i class="mdi mdi-file-document-box" />
                <mark>{{ newsArticle.author.news_articles_count }}</mark>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-info d-flex">
        <div class="comment-info-col">
          <a
            href="#"
            class="comment-info-control active"
            data-toggle="collapse"
            data-target="#answer-newsArticle"
            @click="checkAuth"
          >
            <span class="mdi mdi-pencil" />
            <mark>Answer</mark>
          </a>
        </div>
        <div class="comment-info-col">
          <span
            class="comment-info-control active"
            style="cursor: pointer;"
            @click="interestArticle"
          >
            <i>+{{ newsArticle.interested_users_count }}</i>
            <span class="mdi mdi-star" />
            <mark>Interesting</mark>
          </span>
        </div>
        <div class="comment-info-col">
          <a
            href="#"
            class="comment-info-control active"
            @click.prevent
          >
            <span class="mdi mdi-comment-text-outline" />
            <mark>{{ newsArticle.answers_count }} Answers</mark>
          </a>
        </div>
        <div class="comment-info-col">
          <SocialShare
            :url="newsArticle.url"
            :title="newsArticle.title"
            :description="newsArticle.excerpt"
            right="-75px"
          >
            <a
              href="#"
              class="comment-info-control share-block-button"
              @click.prevent
            >
              <span class="mdi mdi-share-variant" />
            </a>
          </SocialShare>
        </div>
      </div>
    </div>
    <div
      v-if="user"
      id="answer-newsArticle"
      style="margin-bottom: 30px;"
      class="comment-answer-holder collapse"
    >
      <div class="comment-answer-area">
        <AnswerInput
          id="answer"
          :user="user"
          :submit="handleCommentCreate"
        />
      </div>
    </div>
    <div class="comments-section">
      <div class="comments-section__header d-flex justify-content-between align-items-center">
        <span>{{ newsArticle.comments_count }} comments</span>

        <div class="dropdown dropdown-sort">
          <span
            class="selected"
            data-toggle="dropdown"
          >
            Sort by {{ ordering }} <span class="mdi mdi-menu-down" />
          </span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              href="#"
              @click.prevent="sort('latest')"
            >
              latest
            </a>
            <a
              class="dropdown-item"
              href="#"
              @click.prevent="sort('rating')"
            >
              rating
            </a>
          </div>
        </div>
      </div>

      <Comments
        class="comments-section__body"
        :comments="articleComments"
        :user="user"
        :create="handleCommentCreate"
        @like="handleCommentLike"
        @dislike="handleCommentDislike"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import SocialShare from '@/components/SocialShare'
import Comments from '@/components/Blog/Comments'
import AnswerInput from '@/components/Blog/AnswerInput'
import axios from 'axios'
import { findItem } from '@/utils'
import { LikeDislikeMixin, AuthRequiredMixin, TimeoutMixin } from '@/mixins'

export default {
  name: 'NewsArticleComments',
  components: {
    SocialShare,
    Comments,
    AnswerInput,
  },
  filters: {
    date(value) {
      return moment(value).format('MMM DD, YYYY')
    }
  },
  mixins: [LikeDislikeMixin, AuthRequiredMixin, TimeoutMixin],
  props: {
    user: {
      type: Object,
      default: null,
    },
    article: {
      type: Object,
      required: true
    },
    comments: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      newsArticle: this.article,
      articleComments: this.comments,
      ordering: 'latest',
    }
  },
  methods: {
    interestArticle() {
      this.$authRequired(async () => {
        if (this.newsArticle.interested_users.includes(this.user.id)) {
          this.newsArticle.interested_users_count -= 1
          this.newsArticle.interested_users = this.newsArticle.interested_users.filter(id => id !== this.user.id)
        } else {
          this.newsArticle.interested_users_count += 1
          this.newsArticle.interested_users.push(this.user.id)
        }

        try {
          const { data } = await axios({
            method: 'patch',
            url: `/news/interest-article/${this.newsArticle.id}/`,
            headers: { Authorization: `JWT ${this.user.token}` }
          })

          this.newsArticle.interested_users_count = data.interested_users_count
          this.newsArticle.interested_users = data.interested_users
        } catch (e) {
          if (this.newsArticle.interested_users.includes(this.user.id)) {
            this.newsArticle.interested_users_count -= 1
            this.newsArticle.interested_users = this.newsArticle.interested_users.filter(id => id !== this.user.id)
          } else {
            this.newsArticle.interested_users_count += 1
            this.newsArticle.interested_users.push(this.user.id)
          }
        }
      })
    },
    sort(sortBy) {
      this.ordering = sortBy

      if (sortBy === 'rating') {
        this.articleComments.sort((a, b) => {
          if (this._commentRating(a) > this._commentRating(b)) {
            return -1
          } if (this._commentRating(b) > this._commentRating(a)) {
            return 1
          }

          return 0
        })
      } else if (sortBy === 'latest') {
        this.articleComments.sort((a, b) => {
          const dateA = moment(a.created_at)
          const dateB = moment(b.created_at)

          if (dateA > dateB) {
            return -1
          } if (dateB > dateA) {
            return 1
          }

          return 0
        })
      }
    },
    _commentRating(comment) {
      return comment.liked_count - comment.disliked_count
    },
    async handleCommentCreate({ comment, parentId }) {
      const data = { article: this.newsArticle.id, comment }

      if (parentId) {
        data.parent_id = parentId
      }

      const item = findItem(this.articleComments, parentId)

      try {
        const response = await axios({
          method: 'post',
          url: '{% url "create-news-comment" %}',
          data,
          headers: { Authorization: `JWT ${this.user.token}` }
        })

        if (parentId) {
          if (item) {
            item.reply_set = [response.data, ...item.reply_set]
            this.newsArticle.comments_count += 1
          }
        } else {
          this.articleComments = [response.data, ...this.articleComments]
          this.newsArticle.answers_count += 1
          this.newsArticle.comments_count += 1
        }
      } catch (e) {
        console.log(e.response)
      }
    },
    handleCommentLike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.articleComments, commentId)

        this.like({
          instance,
          url: `/news/like-comment/${commentId}`,
          user: this.user
        })
      })
    },
    handleCommentDislike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.articleComments, commentId)

        this.dislike({
          instance,
          url: `/news/dislike-comment/${instance.id}`,
          user: this.user
        })
      })
    },
    checkAuth() {
      this.$authRequired(() => {})
    }
  }
}
</script>
