<template>
  <div class="col-md-6">
    <div class="col-doc col-article articles-margin">
      <div class="d-flex">
        <div class="img-wrap">
          <img :src="article.picture">
        </div>
        <div class="text-wrap">
          <i class="article-name">
            {{ article.title }}
          </i>
          <i class="article-date">
            {{ article.updated_at | date }}
          </i>
          <i class="article-name-category">
            {{ article.category.name }}
          </i>
        </div>
      </div>
      <div class="dropdown dropdown-top-right">
        <span
          class="mdi mdi-dots-vertical"
          data-toggle="dropdown"
          aria-expanded="false"
        />
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-position0">
          <a
            :href="`/settings/articles/${article.id}/edit`"
            class="dropdown-item"
          >
            Edit
          </a>
          <a
            href="#"
            class="dropdown-item"
            @click.prevent="archiveArticle(article.id)"
          >
            {{ article.is_archived ? 'From' : 'To' }} archive
          </a>
          <a
            href="#"
            class="dropdown-item"
            @click.prevent="removeArticle(article.id)"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import bus from './bus'

export default {
  name: 'Article',
  filters: {
    date(date) {
      return moment(date).format('MMM DD, YYYY')
    }
  },
  props: {
    article: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    removeArticle(id) {
      bus.$emit('remove', id)
    },
    archiveArticle(id) {
      bus.$emit('archive', id)
    }
  }
}
</script>

<style lang="scss" scoped>
.articles-margin {
  margin-bottom: 30px;
}

</style>
