<template>
  <div class="profile-holder">
    <div
      class="delete-profile-wrapper"
      title="Delete profile"
      @click="deleteProfile"
    >
      <span class="mdi mdi-delete" />
    </div>
    <Form
      ref="profileForm"
      :fields="fields"
      enctype="multipart/form-data"
      :submit="updateProfile"
    >
      <template
        slot-scope="{ models: {
          name, location, timezone, company, biography
        }, isLoading, isValid }"
      >
        <div class="row">
          <div class="col-md-4">
            <div
              v-if="!user.picture"
              class="upload-wrapper"
            >
              <input
                id="avatar"
                ref="avatar"
                type="file"
                hidden
                @change="createImage"
              >
              <div
                v-if="image"
                class="uploaded-img"
              >
                <img :src="image">
              </div>
              <label
                v-else
                for="avatar"
                class="upload-input"
              >
                <i>Choose photo from your computer</i>
              </label>
              <div
                v-if="image"
                class="edit-photo-button"
                @click="removeImage"
              >
                <span class="mdi mdi-pencil" />
                <i>Remove photo</i>
              </div>
              <i
                v-else
                class="text-hint"
              >
                JPEG, PNG, GIF, or BMP • 50MB file limit
              </i>
            </div>
            <div
              v-else
              class="upload-wrapper"
            >
              <span>Your photo</span>
              <div class="uploaded-img">
                <img :src="user.picture">
              </div>
              <input
                id="ex-avatar"
                ref="avatar"
                type="file"
                hidden
              >
              <div class="edit-photo-button">
                <label for="ex-avatar">
                  <span class="mdi mdi-pencil" />
                  <i>Edit photo</i>
                </label>
              </div>
            </div>
            <div class="blogger-info d-flex align-items-baseline">
              <div class="blogger-info-col">
                <span class="mdi mdi-star" />
                <mark>{{ user.blogger.rating }}</mark>
              </div>
              <div class="blogger-info-col">
                <span class="mdi mdi-comment-text-outline" />
                <mark>{{ user.blogger.blog_comments_count }}</mark>
              </div>
              <div class="blogger-info-col">
                <span class="mdi mdi-file-document-box" />
                <mark>{{ user.blogger.blog_articles_count }}</mark>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="name"
                  v-model="name.value"
                  :error="name.error"
                  label="Name*"
                  help-text="Your name is displayed on your profile."
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <InputDropdown
                    id="city"
                    v-model="location.value"
                    :items="cities"
                    style="pointer-events: none;"
                    :get-key="item => item.id"
                    :get-value="item => item.name_ascii"
                    :error="location.error"
                    label="Location*"
                    @input="handleSelectLocation"
                  />
                  <i class="text-hint">
                    E.g. Brooklyn, NY
                  </i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="email"
                  type="email"
                  label="Email*"
                  help-text="Can not be changed"
                  :value="user.email"
                  :disabled="true"
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    id="zone"
                    :items="timezones"
                    :error="timezone.error"
                    :default-value="timezone.value"
                    :get-value="item => item.tz_display"
                    label="Time zone*"
                    @select="handleSelectTimezone"
                  />
                  <i class="text-hint">
                    Most time zones are automatically adjusted for you. We'll use this setting for emails.
                  </i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="company"
                  v-model="company.value"
                  type="text"
                  label="Company"
                  help-text="Your company"
                  :value="company.value"
                  :error="company.error"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-row">
                  <textarea
                    id="bio"
                    v-model="biography.value"
                    class="active textarea-autoheight"
                  />
                  <label
                    for="bio"
                    :style="biography.error ? 'color: red;' : ''"
                  >
                    {{ biography.error || 'Biography' }}
                  </label>
                  <i class="text-hint">
                    We suggest a short bio. If it's 300 characters or less it'll look great on your profile.
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" />
          <div class="col-md-8">
            <div class="row align-items-center">
              <div class="col-md-6">
                <Submit
                  class="button-styles light-blue"
                  value="Save profile"
                  :disabled="!isValid"
                  :loading="isLoading"
                >
                  <span
                    slot="icon"
                    class="mdi mdi-content-save"
                  />
                </Submit>
              </div>
              <div class="col-md-6">
                <a
                  href="/password-reset"
                  class="reset-pass-link"
                >
                  Reset password
                </a>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  Submit
} from '@/components/Form'
import { isRequired } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'BloggerProfile',
  components: {
    Form,
    InputRow,
    InputDropdown,
    SearchInput,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    timezones: {
      type: Array,
      default: () => []
    },
    cities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'location', validators: [isRequired] },
        { name: 'timezone', validators: [isRequired] },
        { name: 'company' },
        { name: 'biography' }
      ],
      image: null,
    }
  },
  async created() {
    const { user, fields } = this

    fields[0].value = user.name
    fields[1].value = user.location
    fields[2].value = user.timezone
    fields[3].value = user.blogger.company
    fields[4].value = user.blogger.biography

    if (!user.location || !user.timezone) {
      const { data } = await axios.get('https://api.ipdata.co?api-key=a34ceba047da41c55d8239a4b9c9c5bb5f71099d86a72458170f31b0')
      this.setLocation(data.city)
      this.$children[0].$children[3].handleSelect(this.timezones.find(timezone => timezone.tz_db === data.time_zone.name))
    }
  },
  methods: {
    async setLocation(city) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-location" %}',
        params: {
          city
        }
      })

      this.$children[0].$children[1].select(data)
    },
    createImage() {
      const reader = new FileReader()
      const vm = this

      reader.onload = (e) => {
        vm.image = e.target.result
      }
      reader.readAsDataURL(this.$refs.avatar.files[0])
    },
    removeImage() {
      this.image = ''
    },
    handleSelectLocation(location) {
      this.fields[1].value = location
    },
    handleSelectTimezone(timezone) {
      this.fields[2].value = timezone
      this.$refs.profileForm.setFieldValue('timezone', timezone)
    },
    async deleteProfile() {
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            await axios({
              method: 'patch',
              url: `/settings/delete-profile/${this.user.id}/`,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            window.location.replace('/logout')
          } catch (e) {
            console.log(e)
          }
        }
      })
    },
    async updateProfile(values) {
      const formData = new FormData()

      if (this.$refs.avatar.files.length) {
        formData.append('picture', this.$refs.avatar.files[0])
      } else if (!this.user.picture) {
        this.notify('error', 'Upload your avatar, please.')
        return
      }

      formData.append('name', values.name)
      formData.append('location', values.location.id)
      formData.append('timezone', values.timezone.tz_db)
      formData.append('company', values.company)
      formData.append('biography', values.biography)
      formData.append('pk', this.user.blogger.id)


      const { data } = await axios({
        method: 'put',
        url: '{% url "update-blogger" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        },
      })

      if (data.success) {
        this.notify('success', 'Your profile successfully updated')
        window.location.reload()
      } else {
        this.notify('error', 'Something went wrong!')
      }
    }
  }
}
</script>
