{% extends 'base.html' %}
{% load vuejs sekizai_tags cms_tags %}

{% block content %}
{% if object.status == 2 %}
<section class="section-top article-top">
  <!-- This block needs for to gradient on header -->
</section>
<article class="article-wrapper">
  <div class="wrapper">

    {% url 'blog-list' as back_url %}
    {% include "includes/back-button.html" with text=object.title class="back-to-wrapper" url=back_url %}

    {% autoescape off %}
      {{ object.content }}
    {% endautoescape %}

    <div id="comments"></div>

    {% addtoblock "js" %}
    {% render_component "BlogArticleComments" el="comments" data=data %}
    {% endaddtoblock %}

  </div>
</article>
{% elif object.status == 1 %}
  <div class="error-page-wrapper">
    <span>404</span>
    <p>The page you're seeking might no longer exist, or now might be designated as private.</p>
    <a href="{% page_url 'home' %}" class="btn-site">Go to main page</a>
    {% if request.META.HTTP_REFERER %}
      <div>
        <a href="{{ request.META.HTTP_REFERER }}" class="back-previous">Go to previous page</a>
      </div>
    {% endif %}
  </div>
{% endif %}
{% endblock content %}