<template>
  <PeopleSlider
    :people="data"
    :centuries="centuries"
    :activities="activitiesData"
    @activityChange="handleActivityChange"
    @centuryChange="handleCenturyChange"
  />
</template>

<script>
import axios from 'axios'
import PeopleSlider from '@/components/About/People'

export default {
  name: 'PeopleSliderContainer',
  components: {
    PeopleSlider
  },
  props: {
    people: {
      type: Array,
      default: () => []
    },
    centuries: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      activity: null,
      century: null,
      data: this.people,
      activitiesData: this.activities
    }
  },
  watch: {
    // activity() {
    //   this.refetch()
    // },
    // century() {
    //   this.refetch()
    // }
  },
  mounted() {
    this.combineActivity(this.data)
  },
  methods: {
    handleActivityChange(activity) {
      this.activity = activity ? activity.id : null
      this.refetch()
    },
    handleCenturyChange(century) {
      this.activity = null
      this.century = century ? century.id : null
      this.refetch()
    },
    combineActivity(data){
      let preparedData = []
      data.forEach(item => {
        if (preparedData.map(mapItem => mapItem.id).indexOf(item.activity.id) == -1) { //check
          preparedData.push(item.activity)
        }
      })
      this.activitiesData = preparedData
    },
    async refetch() {
      const url = '{% url "about-people-api" %}'
      const { activity, century } = this

      let options = {}
      if (activity) {
        options.activity = activity
      }
      if (century) {
        options.century = century
      }

      const { data } = await axios({
        url,
        method: 'get',
        params: options
      })

      this.data = data.results
      if (this.activity == null) {
        this.combineActivity(data.results)
      }
    }
  }
}
</script>
