<template>
  <div
    class="col-doc activate"
    @click="$emit('setDocument', doc)"
  >
    <span>{{ doc.name }}</span>
    <div class="dropdown dropdown-top-right">
      <span
        class="mdi mdi-dots-vertical"
        data-toggle="dropdown"
      />
      <div
        class="dropdown-menu dropdown-menu-right dropdown-position0"
        style="position: absolute; transform: translate3d(-144px, -179px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a
          v-if="doc.status == 1 && !doc.is_archived"
          href="#"
          class="dropdown-item"
          @click.prevent="$emit('showForm', doc)"
        >
          Edit
        </a>
        <a
          v-if="!doc.is_archived"
          href="#"
          class="dropdown-item"
          @click="$emit('archive', doc.id)"
        >
          To archive
        </a>
        <a
                v-if="doc.status != 1 || doc.is_archived"
                  href="#"
                  class="dropdown-item"
                  @click.prevent="showDetails()"
          >
              Details
          </a>
        <template v-if="!doc.is_archived && doc.status != 5">
          <a
                  v-if="!isDocSigned"
                  href="#"
                  class="dropdown-item"
                  data-toggle="modal"
                  data-target="#policyModal"
                  @click="$emit('showPolicy', doc)"
          >
            Sign
          </a>
          <a
              v-if="isDocSigned"
              href="#"
              class="dropdown-item"
              data-toggle="modal"
              data-target="#reSignModal"
          >
            Un-sign
          </a>
        </template>
        <a
            class="dropdown-item"
            :href="`/api/v1/documents/${doc.id}/download/`"
            :download="doc.name"
        >
          Download
        </a>

<!--        <ReSignConfirmModal-->
<!--            @yes="answerYes"-->
<!--        >-->
<!--        </ReSignConfirmModal>-->




        <Modal
                id="reSignModal"
                styles="modal-dialog-centered modal-dialog-start-project"
                ref="modal"
                :doc="doc"
        >
          <div
                  class="back-wrapper position-top-left"
                  ref="close"
                  data-dismiss="modal"
                  aria-label="Close"
          >
            <a href="#">
            <span class="back-icon">
              <span class="mdi mdi-arrow-left" />
            </span>
              <mark>Back</mark>
            </a>
          </div>
          <div class="resign-message">
            <div>
              <p>Withdraw e-sign?</p>
            </div>
          </div>
          <div class="resign-agree-btn">
            <button
                    type="button"
                    class="button-styles send-message"
                    @click="closeModal"
            >
              Cancel
            </button>
            <button
                    type="button"
                    class="button-styles more-info"
                    @click="answerYes"
            >
              Yes
            </button>
          </div>
        </Modal>


      </div>
    </div>
  </div>
</template>

<script>
import SignMixin from './SignMixin'
import axios from "axios";
import ReSignConfirmModal from './ReSignConfirmModal'
import Modal from '@/components/Modal'

export default {
  name: 'DocumentItem',
  mixins: [SignMixin],
  components: {
    ReSignConfirmModal,
      Modal
  },
  props: {
    doc: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  computed: {

    isDocSigned() {
      const status = this.doc.status
      const role = this.user.role
      if (
              ((status == 2 && this.user.is_owner) && role == 2) ||
              ((status == 3 && this.user.is_owner) && role == 1) ||
              (status == 4 && this.user.is_pm)) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    agreeHandle() {
        this.$emit('yes')
        this.closeModal()
    },
    closeModal(){
        this.$refs.close.click()
    },

    answerYes(){
      let doc = this.doc
      console.log(doc.id)
      this.$emit('yes', doc)
    },

    showDetails(){
      let doc = {
        ...this.doc,
        isDocSigned: this.isDocSigned
      }

      this.$emit('showForm', doc)
    }
  }
}
</script>
