<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <DocumentForm
      v-if="showForm"
      :user="user"
      :document="document"
      :projects="projects"
      @hideForm="showForm = false"
      @archive="archive"
    />
    <DocumentsList
      v-else
      :user="user"
      :projects="projects"
      @showForm="handleForm"
      @changeList="$emit('changeList')"
      @archive="archive"
      @showPolicy="handlePolicyModal"
      @resign="showReSign = true"
    />

    <PolicyModal
      :document="document"
      :user="user"
      @hideForm="showPolicyModal = false"
    >
    </PolicyModal>

  </div>
</template>

<script>
import axios from 'axios'
import DocumentsList from './DocumentsList'
import DocumentForm from './DocumentForm'
import PolicyModal from './PolicyModal'

export default {
  name: 'Documents',
  components: {
    DocumentsList,
    DocumentForm,
    PolicyModal
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      showForm: false,
      showPolicyModal: false,
      document: null,
      selectedProject: this.projects[0],
    }
  },
  methods: {

    handlePolicyModal(document){
      console.log(document)
      if (document) {
        this.document = document
      } else {
        this.document = null
      }

      this.showPolicyModal = true
    },

    handleForm(document) {
      if (document) {
        this.document = document
      } else {
        this.document = null
      }

      this.showForm = true
    },
    async archive(document) {
      const { data } = await axios({
        method: 'post',
        url: '{% url "archive-document" %}',
        data: { document },
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        window.location.replace(data.url)
      }
    },
  }
}
</script>
