<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="columns-wrap">
      <div class="col-left">
        <div class="col-left-wrap">
          <div class="d-flex justify-content-between">
            <span>My projects</span>
            <a
              href="#"
              class="add-project"
              :class="{gray: !$parent.shouldShowActive}"
              @click.prevent="$emit('changeList')"
            >
              {{ $parent.shouldShowActive ? 'Active' : 'Archived' }} projects <span
                class="mdi"
                :class="$parent.shouldShowActive ? 'mdi-toggle-switch' : 'mdi-toggle-switch-off' "
              />
            </a>
          </div>
          <Project
            v-for="project in projects"
            :key="project.id"
            :project="project"
            :user="user"
            :class="{active: project.id === selectedProject.id}"
            @selectProject="selectProject"
          />
          <div class="status-hint-wrap bg-white-mobile">
            <span class="deadline">
              - deadline
            </span>
            <span class="new-message">
              - new message
            </span>
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="col-right-wrap-top">
          <div class="d-flex justify-content-between align-items-center col-right-controls">
            <span class="show-hide-button">
              Project users
            </span>
            <a
              v-b-modal.invite-modal
              href="#"
              class="add-document"
            >
              Invite user <span class="mdi mdi-plus-box" />
            </a>
          </div>
          <div class="menu-wrap">
            <a
              v-for="tab in filterTabs"
              :key="tab.id"
              href="#"
              :class="{active: tab.id === selectedTab.id}"
              @click.prevent="selectTab(tab)"
            >
              {{ tab.name }}
            </a>
          </div>
        </div>
        <div class="col-right-wrap-body">
          <div class="sort-wrapper">
            <div class="row">
              <div class="sort-col">
                <div class="input-row">
                  <input
                    id="name"
                    type="search"
                  >
                  <label for="name">
                    Search by name
                  </label>
                  <span class="mdi mdi-magnify select-search-button" />
                </div>
              </div>
              <div class="sort-col">
                <div class="dropdown dropdown-select">
                  <div
                    class="selected-wrap"
                    data-toggle="dropdown"
                  >
                    <span class="label">
                      Sort by
                    </span>
                    <span class="selected-item" />
                    <span class="mdi mdi-menu-down" />
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-list-wrapper">
                      <div class="dropdown-list">
                        <div class="dropdown-list-row">
                          <a href="#">
                            Sort by 1
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex flex-wrap users-list-wrap">
            <div
              v-for="assignee in assignedUsers"
              :key="assignee.id"
              class="col-doc activate"
            >
              <div class="d-flex">
                <div class="img-wrap">
                  <img :src="assignee.picture">
                </div>
                <div class="user-info">
                  <span>{{ assignee.name }}</span>
                  <mark v-if="assignee.company">
                    Company: <span>{{ assignee.company }}</span>
                  </mark>
                </div>
              </div>
              <div class="dropdown dropdown-top-right">
                <span
                  class="mdi mdi-dots-vertical"
                  data-toggle="dropdown"
                />
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-position0">
                  <a
                    href="#"
                    class="dropdown-item"
                  >
                    Delete
                  </a>
                  <a
                    href="#"
                    class="dropdown-item"
                  >
                    Send message
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <InviteUser
      :user="user"
      :project="selectedProject.id"
    />
  </div>
</template>

<script>
import Project from './Project'
import InviteUser from './InviteUser'

export default {
  name: 'ProjectsListPM',
  components: {
    Project,
    InviteUser
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      filterTabs: [
        { id: 1, name: 'Active' },
        { id: 2, name: 'Applicants' },
        { id: 3, name: 'Inactive' },
        { id: 4, name: 'Unassigned' },
        { id: 5, name: 'All users' }
      ],
      selectedTab: null,
      selectedProject: this.projects[0],
      assignedUsers: this.projects && this.projects[0].assigned_users_data
    }
  },
  watch: {
    selectedProject() {
      this.assignedUsers = this.selectedProject.assigned_users_data
    }
  },
  created() {
    [this.selectedTab] = this.filterTabs
  },
  methods: {
    selectProject(project) {
      this.selectedProject = project
    },
    selectTab(tab) {
      this.selectedTab = tab
    }
  }
}
</script>

<style>
  .gray {
    color: #99a9b8;
  }
</style>
