<template>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="admin-menu">
      <a
        v-for="tab in tabs"
        :key="tab.id"
        href="#"
        :class="{active: tab.id === selectedTab.id}"
        @click.prevent="select(tab)"
      >
        {{ tab.name }}
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Tabs',
  data() {
    return {
      tabs: [
        { id: 0, name: 'All documents', value: '' },
        { id: 1, name: 'Available', value: 'available' },
        { id: 2, name: 'Archived', value: 'archived' }
      ],
      selectedTab: null,
    }
  },
  created() {
    [this.selectedTab] = this.tabs
  },
  methods: {
    select(tab) {
      this.selectedTab = tab
      bus.$emit('filtersChange', { name: 'tab', value: tab.value })
    }
  }
}
</script>

<style>

</style>
