<template>
  <!-- eslint-disable vue/component-name-in-template-casing -->
  <b-modal
    id="addModal"
    ref="addModal"
    class="reviews-modal"
    hide-header
    hide-footer
  >
    <div class="modal-content">
      <span
        class="close-modal"
        @click.prevent="$refs.addModal.hide()"
      >
        <span class="mdi mdi-close" />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <span class="mdi mdi-message-draw">
            <i>Add Review</i>
          </span>
        </div>
      </div>
      <div class="modal-wrapper">
        <div class="row reviews-top">
          <div class="col-md-6 col-sm-6">
            <div class="is-row-info d-flex align-items-center">
              <div class="is-row-img">
                <img :src="project.company.logo">
              </div>
              <div class="is-row-details">
                <a
                  href="#"
                  class="details-page-link"
                >
                  {{ project.company.name }}
                </a>
                <span class="location">
                  {{ project.company.location.name }}, {{ project.company.location.country.name }}
                </span>
                <span class="reviews">
                  <a :href="project.company.website">
                    {{ project.company.website }}
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5">
            <div class="rating-wrap rating-wrap-modal">
              <img
                v-for="elem in [1, 2, 3, 4, 5]"
                :key="elem"
                src="@/assets/images/icon-diamond.svg"
                alt="diamond"
              >
            </div>
            <div class="row">
              <div class="col-3">
                <div class="is-col">
                  <span>Rating</span>
                  <mark class="fz-bigger">
                    5
                  </mark>
                </div>
              </div>
              <div class="col-3">
                <div class="is-col">
                  <span>Reviews</span>
                  <mark class="fz-bigger">
                    20
                  </mark>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-wrap">
          <img
            src="/static/images/wave.svg"
            alt="wave"
          >
        </div>
        <div class="rating-wrap rating-wrap-modal text-center">
          <img
            v-for="item in [1, 2, 3, 4, 5]"
            :key="item"
            :src="`/static/images/icon-diamond${diamonds < item ? '-outline' : ''}.svg`"
            style="cursor: pointer;"
            @click.prevent="setDiamonds(item)"
          >
        </div>
        <Form
          :fields="fields"
          class="add-review"
          :submit="addReview"
        >
          <template slot-scope="{ models: { text }, isLoading, isValid }">
            <label :style="text.error ? 'color: red;' : ''">
              {{ text.error ? text.error : `Feed back on the project "${project.name}"` }}
            </label>
            <textarea
              v-model="text.value"
              :error="text.error"
              placeholder="Enter review..."
            />
            <div class="text-center">
              <Submit
                class="btn-site"
                value="Submit review"
                :disabled="!isValid"
                :loading="isLoading"
              />
            </div>
          </template>
        </Form>
      </div>
    </div>
  </b-modal>
</template>

<script>
import axios from 'axios'
import Form, {
  Submit
} from '@/components/Form'
import { isRequired } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AddModal',
  components: {
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { name: 'text', validators: [isRequired] },
      ],
      diamonds: 0,
    }
  },
  methods: {
    setDiamonds(value) {
      this.diamonds = value
    },
    async addReview(values) {
      values.project = this.project.id
      values.company = this.project.company.id
      values.user = this.user.id

      if (this.diamonds === 0) {
        this.notify('error', 'Add you rating(diamonds), please')
        return
      }
      values.rating = this.diamonds

      const { data } = await axios({
        method: 'post',
        url: '{% url "create-review" %}',
        data: values,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (data.success) {
        this.notify('success', 'Review has been added successfully')
        this.$refs.addModal.hide()
      } else {
        this.notify('errors', 'Something gone wrong...')
      }
    }
  }
}
</script>
