<template>
  <!-- eslint-disable vue/component-name-in-template-casing -->
  <b-modal
    id="reviews-list"
    ref="listModal"
    class="reviews-modal"
    hide-header
    hide-footer
  >
    <div
      v-if="!reviews"
      class="modal-content"
    >
      loading...
    </div>
    <div
      v-else
      class="modal-content"
    >
      <span
        class="close-modal"
        @click.prevent="closeModal"
      >
        <span class="mdi mdi-close" />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <span class="mdi mdi-message-text" />
          <i>Reviews of the company {{ project.company.name }}</i>
        </div>
      </div>
      <div class="modal-wrapper">
        <div class="row reviews-top">
          <div class="col-md-6 col-sm-7">
            <div class="is-row-info d-flex align-items-center">
              <div class="is-row-img">
                <img :src="project.company.logo">
              </div>
              <div class="is-row-details">
                <a
                  href="#"
                  class="details-page-link"
                >
                  {{ project.company.name }}
                </a>
                <span class="location">
                  {{ project.company.location.name }}, {{ project.company.location.country.name }}
                </span>
                <span class="reviews">
                  <a :href="project.company.website">
                    {{ project.company.website }}
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5">
            <div class="rating-wrap rating-wrap-modal">
              <img
                v-for="item in [1, 2, 3, 4, 5]"
                :key="item"
                :src="`/static/images/icon-diamond${project.company.rating < item ? '-outline' : ''}.svg`"
              >
            </div>
            <div class="row">
              <div class="col-3">
                <div class="is-col">
                  <span>Rating</span>
                  <mark class="fz-bigger">
                    {{ project.company.rating }}
                  </mark>
                </div>
              </div>
              <div class="col-3">
                <div class="is-col">
                  <span>Reviews</span>
                  <mark class="fz-bigger">
                    {{ project.company.reviews_count }}
                  </mark>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-wrap">
          <img src="/static/images/wave.svg">
        </div>
        <div
          v-for="review in reviews"
          :key="review.id"
          class="review-block"
        >
          <div class="row review-block-top align-items-center">
            <div class="col-sm-6">
              <div class="is-row-info d-flex align-items-center">
                <div class="is-row-img">
                  <img
                    :src="review.user_data.picture"
                    alt="logo"
                  >
                </div>
                <div class="is-row-details">
                  <a
                    href="#"
                    class="details-page-link"
                  >
                    {{ review.user_data.name }} / PM
                  </a>
                  <span class="location">
                    {{ review.user_data.location.name_ascii }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="rating-wrap">
                <img
                  v-for="item in review.rating"
                  :key="item"
                  src="@/assets/images/icon-diamond.svg"
                  alt="diamond"
                >
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="is-col">
                    <span>Date of posting</span>
                    <mark>{{ review.created_at | date }}</mark>
                  </div>
                </div>
                div.col-sm-6
              </div>
            </div>
          </div>
          <div class="review-content-wrap">
            <div class="review-content-top d-flex">
              <span class="mdi mdi-format-quote-close" />
              <div class="review-content-info">
                <i>Feedback on the project</i>
                <a href="#">
                  {{ review.project.name }}
                </a>
              </div>
            </div>
            <p class="review-text">
              {{ review.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ListModal',
  filters: {
    date(date) {
      return moment(date).format('DD.MM.YYYY')
    }
  },
  props: {
    project: {
      type: Object,
      default: () => {}
    },
    reviews: {
      type: Array,
      default: () => {}
    }
  },
  methods: {
    closeModal() {
      this.$refs.listModal.hide()
    }
  }
}
</script>
