{% extends 'project/base.html' %}
{% load static %}
{% load vuejs sekizai_tags %}

{% block project_content %}
<div class="wrapper">
  <div class="is-project-wrapper">

    {% url 'project-list' 'design' as back_url %}
    {% include "includes/back-button.html" with text="Back to search results" url=back_url class="back-wrapper" %}

    <div class="is-project-row row">
      <div class="col-md-2" style="{% if user.is_contractor and object.management_option == 1 %} filter: blur(15px); pointer-events: none; {% endif %}">
        <div class="is-row-img is-row-img-project">
          {% if object.company.logo %}
          <img src="{{ object.company.logo.url }}" alt="{{ object.company }}">
          {% endif %}
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row is-project-info-row">
          <div class="col-sm-4" style="{% if user.is_contractor and object.management_option == 1 %} filter: blur(15px); pointer-events: none; {% endif %}">
            <div class="is-row-details">
              <span class="details-page-link">{{ object.company }}</span>
              <span class="location">{{ object.company.location.name }}, {{ object.company.location.country }}</span>

              <span class="reviews"><a target="_blank" href="//{{ object.company.get_site_url }}">{{ object.company.website }}</a></span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Date of start</span>
              <mark>{{ object.date_start|date:"d.m.Y" }}</mark>
            </div>
            <div class="is-col">
              <span>Deadline</span>
              <mark>{{ object.date_finish|date:"d.m.Y" }}</mark>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Type of ownership</span>
              <mark>{{ object.company.ownership }}</mark>
            </div>
            <div class="is-col">
              <span>Language</span>
              <mark>{{ object.company.get_language_list }}</mark>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-6 col-sm-5">
            <div class="is-col">
              <span>Budget</span>
              <mark class="fz-bigger">${{ object.budget }}</mark>
            </div>
          </div>
          <div class="col-lg-6 col-sm-7">
            <div class="is-buttons-wrap d-flex">

              {% include "includes/social-share.html" with data=data %}
              <div id="sendmessage"></div>

              {% addtoblock "js" %}
                {% render_component "SendMessageButton" el="sendmessage" data=data  %}
              {% endaddtoblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if object.logo %}
    <div class="is-project-image">
      <img src="{{ object.logo.url }}" class="img-fluid" alt="">
      <h2 class="img-txt">{{ object.name }}</h2>
    </div>
    {% endif %}

    {{ object.description }}

    {% if object.document %}
    <div class="view-more-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <img src="{% static 'images/view-more-img.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-sm-6">
          <div class="view-more-text">
            <h4 class="view-more-title">Details</h4>
            <p>View the presentation of the service</p>
            <a target="_blank" href="{{ object.document.url }}" class="btn-site"><span class="mdi mdi-arrow-right"></span> View more</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if object.video %}
    {% include "includes/video.html" with url=object.video.url %}
    {% elif object.video_link %}
    {% include "includes/video-link.html" with url=object.video_link %}
    {% endif %}
  </div>
</div>
{% endblock project_content %}
