<template>
  <Modal
    id="edu-modal"
    ref="eduModal"
    styles="modal-dialog-centered career-modal-dialog"
  >
    <h2>LEARN MORE</h2>
    <span
      class="modal-close"
      data-dismiss="modal"
      aria-label="close"
    >
      <span class="mdi mdi-close" />
    </span>
    <Form
      :fields="fields"
      :submit="submitForm"
    >
      <template
        slot-scope="{
          models: {
            name, email, company, phone, comment
          }, isValid, isLoading
        }"
      >
        <InputRow
          id="name"
          v-model="name.value"
          label="Name"
          :error="name.error"
        />
        <InputRow
          id="email"
          v-model="email.value"
          label="Email"
          :error="email.error"
        />
        <InputRow
          id="company"
          v-model="company.value"
          label="Company"
          :error="company.error"
        />
        <InputRow
          id="phone"
          v-model="phone.value"
          label="Phone"
          :error="phone.error"
        />
        <div class="input-row">
          <textarea
            v-model="comment.value"
            placeholder="I am interested in..."
            name="comment"
            class="height120"
            :style="{'border-color: red;': comment.error}"
          />
        </div>
        <div class="input-row-button">
          <Submit
            class="btn-site"
            value="SEND"
            :disabled="!isValid || isLoading"
            :loading="isLoading"
          />
        </div>
      </template>
    </Form>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import Form, {
  InputRow, Submit
} from '@/components/Form'
import { isRequired, isEmail, digitsOnly } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  name: 'LearnMore',
  components: {
    Modal,
    Form,
    InputRow,
    Submit
  },
  mixins: [NotificationMixin],
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'company' },
        { name: 'phone', validators: [isRequired, digitsOnly] },
        { name: 'comment', validators: [isRequired] }
      ]
    }
  },
  methods: {
    async submitForm(values) {
      const formData = {
        name: values.name,
        email: values.email,
        company: values.company,
        phone: values.phone,
        text: values.comment,
        service: window.location.pathname.split('/')[2]
      }
      const res = await axios({
        method: 'post',
        url: '{% url "learn-more" %}',
        data: formData,
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken')
        }
      })

      if (res.status === 201) {
        this.notify('success', 'Your request successfully sent. We will contact you ASAP!')
        this.$refs.eduModal.hide()
      } else {
        this.notify('error', 'Oops... Something went wrong!')
      }
    }
  }
}
</script>
