<template>
  <section class="section-news">
    <div class="section-news-holder">
      <div class="wrapper">
        <div class="blog-ask-section">
          <div class="row justify-content-between">
            <Feeds
              :categories="categories"
              @change="changeFeeds"
            />
            <div class="col-xl-8 col-lg-9 col-md-8">
              <div class="blog-ask-top">
                <div class="news-heading">
                  <span>Question</span>
                </div>
              </div>
              <div
                class="ask-wrapper"
                data-toggle="modal"
                data-target="#ask-modal"
                @click="$authRequired(() => {})"
              >
                <div
                  v-if="user"
                  class="author-info-block no-link d-flex align-items-center"
                >
                  <div class="avatar-img">
                    <img
                      :src="user.picture"
                      alt
                    >
                  </div>
                  <div class="author-detail-info">
                    <mark>{{ user.name }}</mark>
                  </div>
                </div>
                <span class="question-span">
                  What is your question?
                </span>
              </div>
              <QuestionList
                :questions="questionList"
                :user="user"
                @hide="hideQuestion"
                @loadMore="fetchMore"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <AskModal
      v-if="user"
      :user="user"
      :categories="categories"
      @create="createQuestion"
    />
  </section>
</template>

<script>
import Feeds from './Feeds'
import QuestionList from './QuestionList'
import AskModal from './AskModal'
import { AuthRequiredMixin, FetchDataMixin } from '@/mixins'

export default {
  name: 'AskAQuestion',
  components: {
    Feeds,
    QuestionList,
    AskModal,
  },
  mixins: [AuthRequiredMixin, FetchDataMixin],
  requestSettings: {
    url: '{% url "blog-question-list" %}',
    params() {
      return {
        category_in: this.feeds
          .filter(feed => feed.selected)
          .map(feed => feed.category)
          .join(','),
        limit: 5,
        offset() {
          return this.questionList.length
        }
      }
    }
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    },
    questions: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      title: null,
      questionList: this.questions,
      feeds: []
    }
  },
  methods: {
    hideQuestion(questionId) {
      this.questionList = this.questionList.filter(
        question => question.id !== questionId
      )
    },
    createQuestion(question) {
      this.questionList = [question, ...this.questionList]
    },
    async fetchMore($state) {
      const { results, hasNext } = await this.$fetchData()

      this.questionList = this.questionList.concat(results)

      if (hasNext) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async changeFeeds(feeds) {
      this.feeds = feeds

      const { results } = await this.$refetchData()

      this.questionList = results
    }
  }
}
</script>
