<template>
  <div class="col-xl-3 col-lg-3 col-md-4">
    <div class="d-flex justify-content-between align-items-center blog-ask-top">
      <div class="news-heading">
        <span>Feeds</span>
      </div>
    </div>
    <div class="feeds-select">
      <Feed
        v-for="feed in categories"
        :key="feed.id"
        :feed="feed"
        @change="changeFeed"
      />
    </div>
  </div>
</template>

<script>
import Feed from './Feed'

export default {
  name: 'Feeds',
  components: {
    Feed
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      feeds: this.categories.map(category => ({ category: category.id, selected: false }))
    }
  },
  methods: {
    changeFeed(feed) {
      const index = this.feeds.findIndex(({ category }) => category === feed.category)

      if (index > -1) {
        this.feeds[index] = feed
        this.$emit('change', this.feeds)
      }
    }
  }
}
</script>
