<template>
  <div class="ask-question-wrap">
    <span
      class="mdi mdi-close hide-block"
      @click="hide"
    />
    <div class="ask-question-bread-crumbs">
      <a href="#">
        Answer
      </a>
      <a
        href="#"
        class="active"
      >
        {{ question.category.name }}
      </a>
    </div>
    <h3 class="question-title">
      {{ question.title }}
    </h3>
    <div class="d-flex justify-content-between align-items-center flex-wrap question-info">
      <div class="author-info-block no-link d-flex">
        <div class="avatar-img">
          <img
            :src="question.user.picture"
            alt=""
          >
        </div>
        <div class="author-detail-info">
          <span>{{ question.created_at | date }}</span>
          <mark>{{ question.user.name }}</mark>
        </div>
      </div>

      <div class="comment-row-header">
        <Rating
          :rating="rating"
          :is-liked="question.is_liked"
          :is-disliked="question.is_disliked"
          @like="handleLike"
          @dislike="handleDislike"
        />
      </div>
    </div>
    <div
      class="question-description"
    >
      <p>
        {{ truncate(question.text) }}
      </p>
    </div>
    <div class="text-center">
      <span
        v-if="question.text.length > 300"
        class="mdi mdi-dots-horizontal more-text"
        @click="textCollapsed = !textCollapsed"
      />
    </div>
    <div class="comment-info d-flex">
      <div class="comment-info-col">
        <a
          href="#"
          class="comment-info-control active"
          data-toggle="collapse"
          :data-target="`#comment-area${question.id}`"
          @click="$authRequired(() => {})"
        >
          <span class="mdi mdi-pencil" />
          <mark>Answer</mark>
        </a>
      </div>
      <div class="comment-info-col">
        <span
          class="comment-info-control active"
          style="cursor: pointer;"
          @click="rateQuestion"
        >
          <i>+{{ question.interested_users_count }}</i>
          <span class="mdi mdi-star" />
          <mark>Interesting</mark>
        </span>
      </div>
      <div class="comment-info-col">
        <a
          href="#"
          class="comment-info-control active"
          data-toggle="collapse"
          :data-target="`#answers-${question.id}`"
          @click.prevent="showAnswers = !showAnswers"
        >
          <span class="mdi mdi-comment-text-outline" />
          <mark>{{ question.answers_count }} Answers</mark>
        </a>
      </div>
      <div class="comment-info-col comment-info-col-last">
        <SocialShare
          :url="$route.fullPath"
          :title="question.title"
          right="-75px"
          :description="question.text"
        >
          <a
            href="#"
            class="comment-info-control"
            @click.prevent
          >
            <span class="mdi mdi-share-variant" />
          </a>
        </SocialShare>
      </div>
    </div>
    <div
      v-if="user"
      :id="`comment-area${question.id}`"
      class="comment-answer-area collapse"
    >
      <AnswerInput
        :id="`answer-${question.id}`"
        :instance-id="question.id"
        :user="user"
        :submit="handleAnswerCreate"
      />
    </div>
    <div
      :id="`answers-${question.id}`"
      class="comment-row ask-row collapse"
    >
      <CommentsControl
        :user="user"
        :question-id="question.id"
        :comments="answers"
        :collapsed="showAnswers"
        :create="handleAnswerCreate"
        @fetched="handleAnswersFetched"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import Rating from '../Rating'
import SocialShare from '@/components/SocialShare'
import AnswerInput from '../AnswerInput'
import CommentsControl from './CommentsControl'
import { findItem } from '@/utils'
import { AuthRequiredMixin, LikeDislikeMixin, TimeoutMixin } from '@/mixins'

export default {
  name: 'Question',
  components: {
    Rating,
    SocialShare,
    AnswerInput,
    CommentsControl,
  },
  filters: {
    date(value) {
      return moment(value).format('ll')
    },
  },
  mixins: [LikeDislikeMixin, AuthRequiredMixin, TimeoutMixin],
  props: {
    data: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      default: null,
    }
  },
  data() {
    return {
      textCollapsed: this.data.text.length > 300,
      question: this.data,
      showAnswers: false,
      answers: [],
    }
  },
  computed: {
    rating() {
      const rating = this.question.liked_count - this.question.disliked_count

      if (rating > 0) {
        return `+${rating}`
      }

      return rating.toString()
    }
  },
  methods: {
    handleLike() {
      this.$authRequired(() => {
        this.like({
          instance: this.question,
          url: `/blogs/like-question/${this.question.id}`,
          user: this.user
        })
      })
    },
    handleDislike() {
      this.$authRequired(() => {
        this.dislike({
          instance: this.question,
          url: `/blogs/dislike-question/${this.question.id}`,
          user: this.user
        })
      })
    },
    async hide() {
      await axios({
        method: 'patch',
        url: `/blogs/hide-blog-question/${this.question.id}/`,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      this.$emit('hide', this.question.id)
    },
    truncate(str) {
      if (this.textCollapsed && str.length > 300) {
        return `${str.substring(0, 300)}...`
      }

      return str
    },
    rateQuestion() {
      this.$authRequired(() => {
        if (this.question.is_rated) {
          this.question.interested_users_count -= 1
          this.question.is_rated = false
        } else {
          this.question.is_rated = true
          this.question.interested_users_count += 1
        }

        this.$withTimeout(async () => {
          try {
            await axios({
              url: `/blogs/rate-question/${this.question.id}/`,
              method: 'patch',
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })
          } catch (e) {
            if (this.question.is_rated) {
              this.is_rated = false
              this.question.interested_users_count -= 1
            } else {
              this.is_rated = true
              this.question.interested_users_count += 1
            }
          }
        })
      })
    },
    async handleAnswerCreate({ comment, parentId }) {
      const data = { question: this.question.id, comment }
      const item = findItem(this.answers, parentId)

      if (parentId) {
        data.parent_id = parentId
      }

      try {
        const response = await axios({
          url: '{% url "create-blog-answer" %}',
          method: 'post',
          data,
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })

        if (parentId) {
          if (item) {
            item.reply_set = [response.data, ...item.reply_set]
          }
        } else {
          if (this.answers.length) {
            this.answers.unshift(response.data)
          }

          this.question.answers_count += 1
        }
      } catch (e) {
        console.log(e)
      }
    },
    handleAnswersFetched(answers) {
      if (this.answers) {
        this.answers = [...this.answers, ...answers]
      } else {
        this.answers = answers
      }
    }
  }
}
</script>
