<template>
  <div class="about-holder__body">
    <div class="sort-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <InputDropdown
            id="centuries"
            :items="centuries"
            label="Century"
            :get-value="item => item.name"
            @select="handleSelectCentury"
          />
        </div>
        <div class="col-sm-6">
          <InputDropdown
            id="activities"
            :items="activities"
            label="Activity"
            :get-value="item => item.name"
            :value="activity"
            @select="handleSelectActivity"
          />
        </div>
      </div>
      <div class="about-slider-wrap">
        <PeopleSlider
          :people="people"
          :century="centuryName"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PeopleSlider from './PeopleSlider'
import { InputDropdown } from '@/components/Form'

export default {
  name: 'People',
  components: { PeopleSlider, InputDropdown },
  props: {
    people: {
      type: Array,
      default: () => []
    },
    centuries: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      centuryName: null,
      century: null,
      activity: null,
    }
  },
  methods: {
    handleSelectActivity(activity) {
      this.activity = activity

      this.$emit('activityChange', activity)
    },
    handleSelectCentury(century) {
      this.centuryName = century ? century.name : null
      this.century = century
      this.activity = null

      this.$emit('centuryChange', century)
    },
  }
}
</script>
