<template>
  <div class="slide">
    <div class="d-flex">
      <div
        class="slide-img"
        :style="`background-image: url('${person.photo}')`"
      />
      <div class="slide-info">
        <h3>{{ person.name }}</h3>
        <span class="position">
          {{ person.activity.name }}
        </span>
        <p class="human-tags">
          {{ person.short_bio }}
        </p>
        <span class="date">
          {{ person.year_of_birth }} {{ person.year_of_death && `- ${person.year_of_death}` }}
        </span>
        <a
          href="#"
          class="read-more"
          data-toggle="modal"
          data-target="#people-modal"
          @click="$emit('showInfo', person)"
        >
          Read more
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Slide',
  props: {
    person: {
      type: Object,
      required: true
    }
  }
}
</script>
