{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div class="reset-pass-wrapper recover-pass">
  <div class="enter-form signIn">
    {% block back_arrow %}
    <div class="back-wrapper position-top-left">
      <a href="{% page_url 'sign-in' %}" class="back-wrapper position-top-left">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
      </a>
    </div>
    {% endblock back_arrow %}
    <h2>{% block title %}{% endblock title %}</h2>
    <div class="inputs-wrap">
      {% block text %}{% endblock text %}
    </div>
  </div>
</div>
{% endblock content %}