{% extends 'registration/base.html' %}
{% load vuejs sekizai_tags %}


{% block title %}
  {% if validlink %}
    Change password
  {% else %}
    Link is invalid
  {% endif %}
{% endblock title %}

{% block text %}
  {% if validlink %}
    <div id="password-reset-confirm"></div>

    {% addtoblock "js" %}
    {% render_component "PasswordResetConfirm" el="password-reset-confirm" data=data %}
    {% endaddtoblock %}
  {% else %}
    <h3>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h3>
  {% endif %}
{% endblock text %}