{% extends 'registration/base.html' %}
{% load cms_tags %}

{% block title %}
  Success
{% endblock title %}
{% block text %}
<h3>
    Your password has been set. You may go ahead and <a href="{% page_url 'sign-in' %}">sign in</a> now.
</h3>
{% endblock text %}