{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at localhost.<br>
<br>
Please go to the following page and choose a new password:<br>
<br>

{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}<br>
<br>
Your username, in case you've forgotten: {{ user.email }} <br>
<br>
Thanks for using our site!<br>
<br>
The Engre team
{% endautoescape %}
