<template>
  <div class="admin-profile-holder">
    <Form
      ref="form"
      :fields="fields"
      :submit="submit"
    >
      <template
        slot-scope="{
          models: {
            name, location, timezone
          }, isValid, isLoading
        }"
      >
        <div class="row">
          <!-- photo -->
          <div class="col-md-4">
            <div class="upload-wrapper">
              <span>Your photo</span>
              <div class="uploaded-img">
                <img :src="picture">
              </div>
              <input
                id="new-photo"
                ref="picture"
                type="file"
                hidden
                @change="uploadPhoto"
              >
              <label for="new-photo">
                <div class="edit-photo-button">
                  <span class="mdi mdi-pencil" />
                  <i>Edit photo</i>
                </div>
              </label>
            </div>
          </div>
          <!-- data -->
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="name"
                  v-model="name.value"
                  :error="name.error"
                  label="Name"
                  help-text="Your name is displayed on your profile."
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <InputDropdown
                    id="location"
                    v-model="location.value"
                    :items="cities"
                    :error="location.error"
                    :get-key="item => item.id"
                    :get-value="item => item.name_ascii"
                    label="Location"
                    @select="handleSelectLocation"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="email"
                  v-model="user.email"
                  disabled
                  label="Email"
                  help-text="Can not be changed."
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    id="timezone"
                    :items="timezones"
                    :default-value="timezone.value"
                    :error="timezone.error"
                    :get-value="item => item.tz_display"
                    label="Time zone"
                    @select="handleSelectTimezone"
                  />
                  <i class="text-hint">
                    Most time zones are automatically adjusted for you. We'll use this setting for emails.
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" />
          <div class="col-md-8">
            <div class="row align-items-center">
              <div class="col-md-6">
                <Submit
                  class="button-styles light-blue"
                  value="Update profile"
                  :disabled="!isValid || isLoading"
                  :loading="isLoading"
                >
                  <span
                    slot="icon"
                    class="mdi mdi-content-save"
                  />
                </Submit>
              </div>
              <div class="col-md-6">
                <a
                  href="#"
                  class="reset-pass-link"
                  @click.prevent
                >
                  Reset password
                </a>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  Submit
} from '@/components/Form'
import { isRequired } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminProfile',
  components: {
    Form,
    InputRow,
    InputDropdown,
    SearchInput,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    cities: {
      type: Array,
      default: () => []
    },
    timezones: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'location', validators: [isRequired] },
        { name: 'timezone', validators: [isRequired] },
      ],
      picture: this.user.picture,
    }
  },
  created() {
    const { user, fields } = this

    fields[0].value = user.name
    fields[1].value = user.location
    fields[2].value = user.timezone
  },
  methods: {
    handleSelectLocation(item) {
      this.$refs.form.setFieldValue('location', item)
    },
    handleSelectTimezone(item) {
      this.$refs.form.setFieldValue('timezone', item)
    },
    async submit(values) {
      const data = {
        pk: this.user.id,
        name: values.name,
        location_id: values.location.id,
        timezone: values.timezone.tz_db
      }

      const response = await axios({
        method: 'put',
        url: '{% url "update-profile" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })

      if (response.status === 200) {
        this.notify('success', 'Profile has been updated successfully')
      } else {
        this.notify('error', 'Something went wrong')
      }
    },
    async uploadPhoto() {
      if (this.$refs.picture.files[0].size > 2097152) {
        this.notify('error', 'File is too large')
        return
      }

      const data = new FormData()
      data.append('pk', this.user.id)
      data.append('picture', this.$refs.picture.files[0])

      const response = await axios({
        method: 'post',
        url: '{% url "upload-user-picture" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        this.picture = response.data.picture
      }
    }
  }
}
</script>

<style>

</style>
