{% extends "base.html" %}

{% block content %}
  <section class="section-top">
    <div class="wrapper">
      <div class="title-wrap">
        <span>Career</span>
        {% block additional_title %}{% endblock %}
      </div>
    </div>
  </section>
  {% block description %}{% endblock %}
  {% block job_details %}{% endblock %}

{% endblock %}