{% extends 'careers/base.html' %}
{% load cms_tags static %}

{% block description %}
<section class="section-about">
  <div class="wrapper">
    <div class="banner" style="background: #000;">
      <img src="{% static 'images/careers-banner.png' %}" class="img-fluid" alt="">
      {% placeholder "title" %}
    </div>
    <div class="about-info-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          {% placeholder "About title" %}
        </div>
        <div class="col-lg-6 col-md-8">
          {% placeholder "1st paragraph" %}
          {% placeholder "2nd paragraph" %}
          {% placeholder "3rd paragraph" %}
        </div>
      </div>
    </div>
    <div class="text-center">
      <span class="text-uppercase"></span>
    </div>
    <div class="banner banner-content">
      <img src="{% static 'images/careers-banner-2.jpg' %}" alt="" class="img-fluid">
      <div class="banner-content-wrap">
        {% placeholder "Banner content" %}
      </div>
    </div>
    <div class="about-info-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          {% placeholder "2nd section title" %}
        </div>
        <div class="col-lg-6 col-md-8">
          {% placeholder "2nd section 1st paragraph" %}
          {% placeholder "2nd section 2nd paragraph" %}
        </div>
      </div>
    </div>
    {% include "careers/jobs.html" with categories=categories %}
  </div>
</section>
{% endblock %}