{% for category in categories %}
<div class="about-info-wrapper" style="padding-bottom: 0;">
  <div class="row">
    <div class="col-lg-6 col-md-4">
      <h2 class="about-title blue-dark">{{ category.name }}</h2>
    </div>
    <div class="col-lg-6 col-md-8">
      <div class="row flex-wrap">
        {% for job in category.jobs.all %}
          <div class="col-md-6">
            <div class="vacancy-wrap">
              <h3>{{ job.title }}</h3>
              <span>{{ job.location }}</span>
              <div class="text-right">
                {% if not job.is_expired %}
                  <a href="{% url 'career-detail' job.slug %}" class="career-look btn-site">Look</a>
                {% else %}
                  <a href="{% url 'career-detail' job.slug %}" class="career-look btn-site expired">Expired</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
