<template>
  <div>
    <PmMember
      v-if="user.is_pm"
      :member="member"
      :is-active="isActive"
      @hideDetails="hideDetails"
      @toggleDetails="toggleDetails"
      @toggleActiveness="handleToggleActiveness"
      @delete="$emit('delete', member.id)"
      @sendMessage="handleSendMessage"
    />
    <Member
      v-else
      :member="member"
      :is-active="isActive"
      @hideDetails="hideDetails"
      @toggleDetails="toggleDetails"
      @toggleActiveness="handleToggleActiveness"
      @delete="$emit('delete', member.id)"
      @sendMessage="handleSendMessage"
    />
  </div>
</template>

<script>
import axios from 'axios'
import bus from '../bus'
import { TimeoutMixin } from '@/mixins'
import Member from './Member'
import PmMember from './PmMember'
import { Toast } from '@/utils'

export default {
  name: 'MemberContainer',
  components: {
    Member,
    PmMember,
  },
  mixins: [TimeoutMixin],
  props: {
    data: {
      type: Object,
      required: true
    },
    toggleActiveness: {
      type: Function,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isActive: false,
      member: this.data,
    }
  },
  created() {
    bus.$on('showMemberDetails', this.hideDetails)
  },
  methods: {
    toggleDetails() {
      const { isActive } = this

      if (!isActive) {
        bus.$emit('showMemberDetails')
      }

      this.isActive = !isActive
    },
    hideDetails() {
      this.isActive = false
    },
    handleToggleActiveness() {
      const isActive = this.member.is_active

      this.member.is_active = !isActive

      this.$withTimeout(async () => {
        try {
          await this.toggleActiveness(this.member.id, isActive)
        } catch (e) {
          this.member.is_active = isActive
        }
      })
    },
    async handleSendMessage() {
      const { data } = await axios({
        method: 'post',
        url: '{% url "chat:redirect-to-chat" %}',
        data: {
          recipient: this.data.user.id,
        },
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })

      if (data.url) {
        window.location = data.url
      } else {
        Toast.fire({
          type: 'error',
          title: 'Something went wrong!'
        })
      }
    }
  }
}
</script>
