<template>
  <PMProfile
    v-if="user.is_pm"
    :user="user"
    :timezones="timezones"
    :cities="cities"
    :industries="industries"
  />
  <BloggerProfile
    v-else-if="user.is_blogger"
    :user="user"
    :timezones="timezones"
    :cities="cities"
  />
  <Profile
    v-else
    :user="user"
    :timezones="timezones"
    :cities="cities"
  />
</template>


<script>
import Profile from '@/components/Settings/Profile'
import PMProfile from '@/components/Settings/PMProfile'
import BloggerProfile from '@/components/Settings/Blogger/Profile'

export default {
  name: 'ProfileContainer',
  components: {
    Profile,
    PMProfile,
    BloggerProfile
  },
  props: {
    user: {
      type: Object,
      default: () => {},
    },
    timezones: {
      type: Array,
      default: () => [],
    },
    cities: {
      type: Array,
      default: () => [],
    },
    industries: {
      type: Array,
      default: () => []
    }
  },
}
</script>
