<template>
    <div class="container">
        <div class="row">

            <div class="zero-result">
                <div class="top">
                    <span class="mdi mdi-information"></span>
                    <p>Sorry, we couldn't find any content.</p>
                </div>
                <div class="bottom">
                    <h4>Search tips</h4>
                    <ul>
                        <li @click="routeHistoryBack" class="link">GO TO PREVIOUS PAGE</li>
                        <li>Check your spelling and try again</li>
                        <li>Try a similar but different search term</li>
                        <li>Keep your search term simple</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    export default {
        name: 'Category',
        methods: {
            routeHistoryBack() {
                this.$emit('back')
                window.history.back();
                setTimeout(function () {
                    location.reload();
                },0)
            }
        }
    }

</script>

<style scoped>
    .zero-result {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        width: 100%;
    }
    .top {
        width: 100%;
        border-top: 2px solid #0d47a1;
        border-bottom: 2px solid #0d47a1;
        padding: 15px 25px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top span {
        font-size: 30px;
        color: #0d47a1;
    }
    .top p {
        color: #0d47a1;
        margin: 0;
        font-weight: 500;
        font-size: 22px;
        margin: 0 10px;
    }

    /*  bottom style  */

    .bottom {
        margin-top: 30px;
        padding: 0 20px;
    }

    .bottom .link {
        color: #0d47a1;
        text-decoration: underline;
    }
</style>