{% extends 'about/base.html' %}
{% load cms_tags static %}

{% block about_content %}

<section class="section-about">
  <div class="wrapper">
    <div class="banner banner-text">
      <img src="{% static 'images/about-banner-1.jpg' %}" class="img-fluid" alt="" />

      {% placeholder "title" %}

    </div>
    <div class="about-info-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          <h2 class="about-title">
            {% placeholder "Header 1" %}
          </h2>
        </div>
        <div class="col-lg-6 col-md-8">

          {% placeholder "Header 1 text" %}

        </div>
      </div>
    </div>
    <div class="banner banner-content">
      <img src="{% static 'images/about-banner-2.jpg' %}" class="img-fluid" alt="" />
      <div class="banner-content-wrap">

        {% placeholder "Quote" %}

      </div>
    </div>
    <div class="about-info-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          <h2 class="about-title">
            {% placeholder "Header 2" %}
          </h2>
        </div>
        <div class="col-lg-6 col-md-8">
          {% placeholder "Header 2 text" %}
        </div>
      </div>
      <div class="row" style="margin-top: 35px;">
        <div class="col-lg-6 col-md-4">
          <h2 class="about-title">
            {% placeholder "Header 3" %}
          </h2>
        </div>
        <div class="col-lg-6 col-md-8">
          {% placeholder "Header 3 text" %}
        </div>
      </div>
    </div>
    <div class="banner">
      <img src="{% static 'images/about-banner-3.jpg' %}" class="img-fluid" alt="" />
    </div>
    <div class="about-info-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          <h2 class="about-title">
            {% placeholder "Header 4" %}
          </h2>
        </div>
        <div class="col-lg-6 col-md-8">

          {% placeholder "Header 4 text" %}

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock about_content %}
