{% extends 'about/base.html' %}
{% load static cms_tags vuejs sekizai_tags %}

{% block about_content %}
<section class="section-about">
  <div class="wrapper">
    <div class="banner">
      <img src="{% static 'images/about-common.jpg' %}" class="img-fluid" alt="">
      {% placeholder "Title" %}
    </div>

    <div class="about-holder">
      <div class="about-holder__title">
        {% placeholder "Subtitle" %}
        {% placeholder "Description" %}
      </div>

      <div id="common-projects-slider"></div>

    </div>
  </div>

  {% addtoblock "js" %}
  {% render_component "CommonProjectsSlider" el="common-projects-slider" data=data %}
  {% endaddtoblock %}

</section>
{% endblock about_content %}