<template>
  <div class="input-row">
    <textarea
      :id="id"
      :value="value"
      :class="value ? 'active': ''"
      class="textarea-autoheight"
      @input="$emit('input', $event.target.value)"
    />
    <label
      :style="error ? 'color: red;': ''"
      :for="id"
    >
      {{ error || label }}
    </label>
    <i class="text-hint">
      {{ helpText }}
    </i>
  </div>
</template>

<script>
export default {
  name: 'TextareaRow',
  props: {
    id: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    error: {
      type: [String, Boolean],
      default: false
    }
  }
}
</script>
