<template>
  <div class="chat-holder chat-holder-sections">
    <div class="chat-header d-flex">
      <span class="mdi mdi-arrow-left close-chat" />
      <span class="chat-text-bold18">
        {{ touser.name }}
        <span class="chat-activity">
          Last seen at {{ touser.last_seen|date }}
        </span>
      </span>
    </div>
    <div
      v-infinite-scroll="loadMore"
      class="chat-wrapper"
      infinite-scroll-disabled="busy"
      infinite-scroll-distance="10"
      infinite-scroll-reverse="true"
    >
      <div
        v-for="messageGroup in getSortedMessages(chat.messages)"
        :key="messageGroup.id"
      >
        <div class="date">
          <div class="svg-wrap">
            <img
              src="/static/images/wave.svg"
              alt="Wave"
            >
          </div>
          <span>{{ messageGroup.name|messageGroupDate }}</span>
        </div>
        <div
          v-for="message in messageGroup.items"
          :key="message.id"
          :class="classMessageObject(message)"
          class="d-flex"
        >
          <div
            :class="classMessageSectionObject(message)"
            class="chat-message"
          >
            <div
              v-if="!message.attachment && !message.action"
              style="display:inline-flex"
            >
              <p class="chat-text">
                {{ message.message }}
              </p>
              <span class="time">
                {{ message.created_at|date }}
              </span>
            </div>

            <div
              v-if="message.attachment && !message.action"
              style="display:inline-flex"
            >
              <p
                v-if="message.attachment && !message.action"
                class="chat-text"
              >
                <span class="mdi mdi-file-download" />
                <span class="media-txt">
                  <a :href="message.attachment">
                    {{ message.message }}
                  </a>
                </span>
              </p>
              <span class="time">
                {{ message.created_at|date }}
              </span>
            </div>

            <div
              v-if="message.action && [1,2,3,4,5,6,13,14,15].includes(message.action._type)"
              style="display:inline-flex"
            >
              <span class="chat-text-bold16">
                {{ message.message }}
              </span>
              <div
                v-if="message.to_user.id===user.id && [1,4,13].includes(message.action._type)"
                class="message-controls"
              >
                <span
                  class="mdi mdi-close-box cancel"
                  @click="handleCancelRequest(message)"
                />
                <span
                  class="mdi mdi-checkbox-marked confirm"
                  @click="handleAcceptRequest(message)"
                />
              </div>
            </div>

            <div v-if="message.action && message.action._type === 7">
              <p class="chat-text">
                {{ message.message }}
                <span class="mdi mdi-clock-outline" />
              </p>
            </div>

            <div v-if="message.action && message.action._type === 10">
              <p class="chat-text">
                {{ message.message }}
                <span
                  v-if="user.role === 2"
                  class="mdi mdi-flag-checkered"
                  style="position: static;cursor: pointer;"
                  data-toggle="modal"
                  data-target="#action-service-modal"
                  @click="handleProjectSelection(message)"
                />

                <span class="mdi mdi-clock-outline" />
              </p>
            </div>

            <div v-if="message.action && [8, 11].includes(message.action._type)">
              <p class="chat-text">
                {{ message.message }}
                <span class="mdi mdi-check" />
              </p>
            </div>

            <div v-if="message.action && [9, 12].includes(message.action._type)">
              <p class="chat-text">
                {{ message.message }}
                <span class="mdi mdi-close" />
              </p>
            </div>
          </div>
          <span
            v-if="message.action && message.to_user.id===user.id && [7,10].includes(message.action._type)"
            class="cancel-start"
            @click="handleCancelRequest(message)"
          >
            Cancel
          </span>
        </div>
      </div>
    </div>
    <div class="chat-input-wrapper">
      <TextareaEmojiPicker
        v-model="text"
        :user="user"
        :projects="projects"
      />
    </div>

    <Modal
      id="action-service-modal"
      ref="serviceModal"
      styles="modal-dialog-centered modal-dialog-start-project"
    >
      <div
        class="back-wrapper position-top-left"
        data-dismiss="modal"
        aria-label="Close"
      >
        <a href="#">
          <span class="back-icon">
            <span class="mdi mdi-arrow-left" />
          </span>
          <mark>Back</mark>
        </a>
      </div>
      <div
        v-if="touser.company"
        class="modal-add-wrap"
      >
        <span class="start-project-title">
          Select the service:
        </span>
        <div
          v-for="serviceItem in touser.company.intellectualservices"
          :key="serviceItem.id"
          class="row d-flex flex-wrap start-project-row-wrap"
          @click="handleServiceSelection(serviceItem)"
        >
          <div class="col-doc activate">
            <div class="d-flex">
              <div class="text-wrap">
                <mark class="start-txt">
                  Service: <span>{{ service.name }}</span>
                </mark>
                <mark>
                  Hourly rate: <span>
                    {{ service.hourly_rate == 0 ? 'Upon request' : `$${service.hourly_rate}` }}
                  </span>
                </mark>
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="button-styles light-blue"
          @click="handleServiceSelectionAction"
        >
          Start <span class="mdi mdi-flag-checkered" />
        </button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from 'moment'
import TextareaEmojiPicker from '@/components/TextareaEmojiPicker'
import infiniteScroll from '@/utils/infinity-scroll'
import axios from 'axios'
import Modal from '@/components/Modal'

export default {
  name: 'Messages',
  components: {
    TextareaEmojiPicker,
    Modal
  },
  directives: { infiniteScroll },
  filters: {
    date(value) {
      return moment(value).format('LTS')
    },
    messageGroupDate(value) {
      if (!moment(value).isBefore(moment(), 'day')) {
        return 'Today'
      }
      return value
    }
  },
  props: {
    activeChat: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
    touser: {
      type: Object,
      required: true
    },
    socket: {
      type: Object,
      required: true
    },
    projects: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      chat: this.activeChat,
      text: '',
      file: '',
      action: '',
      emojiShow: false,
      service: '',
      project: ''
    }
  },
  updated() {
    const container = this.$el.querySelector('.chat-wrapper')
    const chat = this.$parent.chatRooms.find(x => x.id === this.chat.id)
    if (chat.scroll) {
      container.scrollTop = container.scrollHeight
    }
  },
  methods: {
    async sendMessage(command = 'send') {
      if (this.file) {
        this.text = this.file.name
        await this.getBase64(this.file).then(
          (data) => {
            this.file = data
          }
        )
      }

      if (this.text.trim().length !== 0 || this.file || this.action) {
        this.socket.send(
          `{"command": "${command}", "message": "${this.text}", "file": "${this.file}",
          "action__project": ${this.action.project || '""'}, "action__type": ${this.action._type || '""'},
          "action__service": ${this.action.service || '""'},
          "room_id": ${this.chat.id}, "to_user": ${this.touser.id}}`
        )
        this.text = ''
        this.file = ''
        this.action = ''
      }
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    },
    async fetchData(chatId, url) {
      const chat = this.$parent.chatRooms.find(x => x.id === chatId)
      let axiosData = {}
      if (url.includes('chat_room')) {
        axiosData = { url }
        chat.scroll = false
      } else {
        axiosData = {
          url,
          params: {
            chat_room: chatId,
          }
        }
        chat.scroll = true
      }
      const { data } = await axios(axiosData)
      chat.nextUrl = data.next || 'skip'
      chat.messages.unshift(...data.results)
      chat.busy = false
      this.chat = chat
    },
    async loadMore() {
      const chat = this.$parent.chatRooms.find(x => x.id === this.chat.id)

      if (!chat.nextUrl) {
        chat.nextUrl = '{% url "chat:message-list" %}'
      } else if (chat.nextUrl === 'skip' || chat.busy) {
        return
      }
      chat.busy = true
      await this.fetchData(chat.id, chat.nextUrl)
    },
    getSortedMessages(messages) {
      const sortedMessages = []

      messages.map((message) => {
        const name = moment(message.created_at).format('dddd, MMMM DD, YYYY')
        if (sortedMessages.filter(obj => obj.name === name)[0]) {
          sortedMessages.filter(obj => obj.name === name)[0].items.unshift(message)
        } else {
          sortedMessages.push({ name, items: [message] })
        }
      })

      sortedMessages.sort((a, b) => new Date(b.name) - new Date(a.name))
      return sortedMessages.reverse()
    },
    classMessageObject(message) {
      return {
        'justify-content-end':
          message.to_user.id === this.touser.id,
        'justify-content-start':
          message.to_user.id !== this.touser.id,
        'align-items-baseline':
          message.action && [7, 10].includes(message.action._type),
      }
    },
    classMessageSectionObject(message) {
      return {
        'your-message':
          (message.to_user.id === this.touser.id) && !message.action,
        incoming:
          (message.to_user.id !== this.touser.id) && !message.action,
        media:
          message.attachment && !message.action,
        'system-message d-flex align-items-center justify-content-between':
          message.action && [1, 2, 3, 4, 5, 6, 13, 14, 15].includes(message.action._type),
        'project-status waiting-confirmation':
          message.action && [7, 10].includes(message.action._type),
        'project-status confirmation-accepted':
          message.action && [8, 11].includes(message.action._type),
        'project-status confirmation-rejected':
          message.action && [9, 12].includes(message.action._type),
      }
    },
    handleAcceptRequest(message) {
      if (message.action.service) {
        this.action = { project: message.action.project, service: message.action.service, _type: 1 }
      } else {
        this.action = { project: message.action.project, _type: 2 }
      }
      this.sendMessage('action')
    },
    handleCancelRequest(message) {
      this.action = { project: message.action.project, _type: 3 }
      this.sendMessage('action')
    },
    handleProjectSelection(message) {
      this.project = message.action.project
    },
    handleServiceSelection(service) {
      this.service = service
    },
    handleServiceSelectionAction() {
      this.action = { project: this.project, service: this.service.id, _type: 2 }
      this.sendMessage('action')
      this.$refs.serviceModal.$el.click()
      this.project = ''
      this.service = ''
    }
  }
}
</script>

<style scoped>

</style>
