<template>
  <div class="profile-holder">
    <div
      class="delete-profile-wrapper"
      title="Delete profile"
    >
      <span class="mdi mdi-delete" />
    </div>
    <Form
      ref="pmProfile"
      :fields="fields"
      enctype="multipart/form-data"
      :submit="update"
    >
      <template
        slot-scope="{ models: {
          name, location, timezone, industry, coreSkills, seniority, availability
        }, isLoading, isValid }"
      >
        <div class="row">
          <div class="col-md-4">
            <div
              v-if="!user.picture"
              class="upload-wrapper"
            >
              <input
                id="avatar"
                ref="avatar"
                type="file"
                hidden
              >
              <label
                for="avatar"
                class="upload-input"
              >
                <i>Choose photo from your computer</i>
              </label>
              <i class="text-hint">
                JPEG, PNG, GIF, or BMP • 50MB file limit
              </i>
            </div>
            <div
              v-else
              class="upload-wrapper"
            >
              <span>Your photo</span>
              <div class="uploaded-img">
                <img :src="user.picture">
              </div>
              <input
                id="ex-avatar"
                ref="avatar"
                type="file"
                hidden
              >
              <div class="edit-photo-button">
                <label for="ex-avatar">
                  <span class="mdi mdi-pencil" />
                  <i>Edit photo</i>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="name"
                  v-model="name.value"
                  :error="name.error"
                  label="Name*"
                  help-text="Your name is displayed on your profile."
                />
              </div>
              <div class="col-md-6">
                <InputDropdown
                  id="city"
                  v-model="location.value"
                  style="pointer-events: none;"
                  :get-key="item => item.id"
                  :get-value="item => item.name_ascii"
                  :default-value="location.value"
                  :error="location.error"
                  label="Location*"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  type="email"
                  label="Email*"
                  help-text="Can not be changed"
                  :value="email"
                  :disabled="true"
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    v-model="timezone.value"
                    :items="timezones"
                    :default-value="timezone.value"
                    :get-value="item => item.tz_display"
                    :error="timezone.error"
                    label="Time zone*"
                    @select="handleSelectTimezone"
                  />
                  <i class="text-hint">
                    Most time zones are automatically adjusted for you. We'll use this setting for emails.
                  </i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    :items="industries"
                    :default-value="industry.value"
                    :error="industry.error"
                    label="Industry*"
                    @select="handleSelectIndustry"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    :items="coreSkillsList"
                    :get-key="item => item.id"
                    :get-value="item => item.name"
                    :default-values="coreSkills.value"
                    :error="coreSkills.error"
                    label="Core skills"
                    multiple
                    @select="handleSelectCoreSkills"
                    @search="fetchCoreSkills"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputDropdown
                  id="level"
                  v-model="seniority.value"
                  :items="levels"
                  :get-key="item => item.id"
                  :get-value="item => item.name"
                  :default-value="levels[seniority.value - 1]"
                  :error="seniority.error"
                  label="Skills level*"
                />
                <i class="text-hint">
                  Your skills level
                </i>
              </div>
              <div class="col-md-6">
                <InputRow
                  v-model="availability.value"
                  :error="availability.error"
                  label="Weekly availability*"
                  help-text="Hours you can work per week"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" />
          <div class="col-md-8">
            <div class="row align-items-center">
              <div class="col-md-6">
                <Submit
                  class="button-styles light-blue"
                  value="Save profile"
                  :disabled="!isValid"
                  :loading="isLoading"
                >
                  <span
                    slot="icon"
                    class="mdi mdi-content-save"
                  />
                </Submit>
              </div>
              <div class="col-md-6">
                <a
                  href="/password-reset"
                  class="reset-pass-link"
                >
                  Reset password
                </a>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  Submit
} from '@/components/Form'
import { isRequired, minLength } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'PMProfile',
  components: {
    InputRow,
    InputDropdown,
    SearchInput,
    Form,
    Submit,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    cities: {
      type: Array,
      default: () => []
    },
    timezones: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, minLength(2)] },
        { name: 'location', validators: [isRequired] },
        { name: 'timezone', validators: [isRequired] },
        { name: 'industry', validators: [isRequired] },
        { name: 'coreSkills' },
        { name: 'seniority', validators: [isRequired] },
        { name: 'availability', validators: [isRequired] },
      ],
      email: this.user.email,
      coreSkillsList: [],
      levels: [
        { id: 1, name: 'Junior' },
        { id: 2, name: 'Middle' },
        { id: 3, name: 'Senior' },
      ],
    }
  },
  async created() {
    const { user, fields } = this

    fields[0].value = user.name
    fields[1].value = user.location
    fields[2].value = user.timezone
    fields[3].value = user.pm.industry_data
    fields[4].value = user.pm.core_skills_list
    fields[5].value = this.levels[user.pm.skills_level - 1]
    fields[6].value = user.pm.weekly_availability && user.pm.weekly_availability.toString()

    if (!user.location || !user.timezone) {
      const { data } = await axios.get('https://api.ipdata.co?api-key=a34ceba047da41c55d8239a4b9c9c5bb5f71099d86a72458170f31b0')
      this.setLocation(data.city)
      this.$children[0].$children[3].handleSelect(this.timezones.find(timezone => timezone.tz_db === data.time_zone.name))
    }
  },
  methods: {
    async setLocation(city) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-location" %}',
        params: {
          city
        }
      })

      this.$children[0].$children[1].select(data)
    },
    handleSelectLocation(location) {
      this.$refs.pmProfile.setFieldValue('location', location)
    },
    handleSelectTimezone(timezone) {
      this.$refs.pmProfile.setFieldValue('timezone', timezone)
    },
    async handleSelectIndustry(industry) {
      this.$refs.pmProfile.setFieldValue('industry', industry)
    },
    handleSelectCoreSkills(skills) {
      this.$refs.pmProfile.setFieldValue('coreSkills', skills)
    },
    handleSelectSkillsLevel(level) {
      this.$refs.pmProfile.setFieldValue('seniority', level)
    },
    handleSelectAvailability(hours) {
      this.fields[6].value = hours
    },
    async fetchCoreSkills(value) {
      const response = await axios({
        method: 'get',
        url: '{% url "core-skills-api" %}',
        params: {
          name__icontains: value,
        }
      })

      this.coreSkillsList = response.data.results
    },
    async update(values) {
      this.notify('warning', 'Updating profile...')
      const formData = new FormData()
      formData.append('pk', this.user.pm.id)
      formData.append('name', values.name)
      formData.append('location', values.location.id)
      formData.append('timezone', values.timezone.tz_db)
      formData.append('industry', values.industry.id)
      formData.append('core_skills', values.coreSkills && values.coreSkills.map(s => s.id))
      formData.append('skills_level', values.seniority.id)
      formData.append('weekly_availability', parseInt(values.availability, 10))

      if (this.$refs.avatar.files.length) {
        formData.append('picture', this.$refs.avatar.files[0])
      } else if (!this.user.picture) {
        this.notify('error', 'Choose your profile photo, please')
      }

      const { data } = await axios({
        method: 'put',
        url: '{% url "update-pm" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (data.success) {
        this.notify('success', 'Profile has been update successfully.')
        window.location.reload()
      } else {
        this.notify('error', 'Something gone wrong!')
      }
    }
  }
}
</script>
