{% extends "base.html" %}
{% load static cms_tags %}


{% block body_style %}
style="background-image: url('{% static "images/404-bg.png"%}')"
{% endblock body_style %}
{% block content %}
<div class="error-page-wrapper">
  <span>404</span>
  <p>The requested URL was not found on this server.</p>
  <a href="{% page_url 'home' %}" class="btn-site">Go to main page</a>
  {% comment %}
  {% if request.META.HTTP_REFERER %}
    <div>
      <a href="{{ request.META.HTTP_REFERER }}" class="back-previous">Go to previous page</a>
    </div>
  {% endif %}
  {% endcomment %}
</div>
{% endblock content %}
