{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags %}

{% block video %}
{% endblock %}
{% block content %}
<main>
			<div class="form-enter-section">
				<form action="{% url 'sing-in' %}" class="enter-form signIn" method="post">
          {% csrf_token %}
					<h2>Sign In</h2>
					<div class="inputs-wrap">
						<h3>To add a project, sign in</h3>
						<div class="input-row">
							<input type="email" id="id-email" name="email">
							<label for="id-email">Email</label>
						</div>
						<div class="input-row">
							<input type="password" id="id-pass" name="password">
							<label for="id-pass">Password</label>
						</div>
						<a href="#" class="forgot-pass">Forgot your password?</a>
						<div class="enter-form-button">
							<input class="btn-site" type="submit" value="Log in">
						</div>
						<div class="remember-me-wrap">
							<div class="checkbox">
								<input type="checkbox" id="check1">
								<label for="check1">
									<span class="check-wrap"></span>
									<i class="remember-me-text">Remember me</i>
								</label>
							</div>
						</div>
					</div>
					<div class="sign-in-social">
						<div class="sign-in-social__title">
							<span>Or sign in with</span>
						</div>
						<div class="social-buttons">
							<a href="#"><img src="{% static 'images/facebook-box.svg' %}" alt=""></a>
							<a href="#"><img src="{% static 'images/linkedin-box.svg' %}" alt=""></a>
							<a href="#"><img src="{% static 'images/google-plus.svg' %}" alt=""></a>
						</div>
					</div>
					<div class="go-to-button go-to-login">
						<span>Have an account? <i>Log in</i></span>
					</div>
				</form>
				<form action="{% url 'sing-up' %}" class="enter-form signUp" method="post">
          {% csrf_token %}
					<h2>Sign Up</h2>
					<div class="inputs-wrap">
						<div class="input-row">
							<input type="text" id="id-name" name="name">
							<label for="id-name">Name</label>
						</div>
						<div class="input-row">
							<input type="email" id="id-email2" name="email">
							<label for="id-email2">Email</label>
						</div>
						<div class="input-row">
							<input type="password" id="id-pass2" name="password">
							<label for="id-pass2">Password</label>
						</div>
						<div class="input-row">
							<input type="password" id="id-pass3" name="re_password">
							<label for="id-pass3">Re-enter password</label>
						</div>
						<div class="remember-me-wrap" style="margin-bottom: 20px;">
							<div class="checkbox">
								<input type="checkbox" id="check2">
								<label for="check2">
									<span class="check-wrap"></span>
									<i class="remember-me-text">Remember me</i>
								</label>
							</div>
						</div>
						<div class="enter-form-button">
							<input class="btn-site" type="submit" value="Create account">
						</div>
						<div class="hint-wrapper">
							<p>By signing up, you agree to <a href="/test">our terms of use</a>, <a	href="/wqeqweqwes">privacy policy</a>, and <a href="sadfsdaf">cookie policy</a>.
							</p>
						</div>
					</div>
					<div class="go-to-button go-to-register">
						<span>New to Engre? <i>Sign up!</i></span>
					</div>
				</form>
			</div>
		</main>

{% endblock %}
