.section-about {
  padding: 80px 0 0 0;
  background-color: #f1f5f8;

  &.section-investors {
    padding-bottom: 100px;
    position: relative;
    //z-index: 15;

    @media (max-width: $screen-sm-max) {
      padding-bottom: 50px;
    }

    .news-media {
      border-radius: 3px 0 0 3px;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 50px 0 0 0;
  }
}

.banner {
  position: relative;
  border-radius: 3px;

  &.banner-text {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.55);
    }
  }

  &.banner-content {
    background: none;

    @media (max-width: $screen-sm-max) {
      img {
        border-radius: 3px 3px 0 0;
      }
    }
  }

  img {
    border-radius: 3px;
  }

  .center-text {
    @include center(both);
    width: 100%;
    padding: 0 15px;
    font-size: 60px;
    line-height: 62px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.33);

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
      line-height: 26px;
    }
  }
}

.about-info-wrapper {
  padding: 70px 0;

  @media (max-width: $screen-md-max) {
    padding: 50px 0;
  }

  h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }
}

.about-title {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 26px;
  padding-left: 30px;

  &.blue-dark {
    color: $blue-dark;
  }

  &.number {
    font-size: 40px;
    line-height: 42px;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-left: 0;
  }
}

.about-description {
  margin: 0 0 30px 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: justify;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    line-height: 26px;
  }

  strong {
    font-weight: 700;
  }
}

.list-circle {
  margin: 0 0 30px 0;
  padding: 0 0 0 15px;
  list-style: none;

  li {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $yellow;
    }
  }
}

.list-line {
  margin: 0 0 30px 0;
  padding: 0 0 0 15px;
  list-style: none;

  li {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 10px;

    strong {
      font-weight: 700;
    }
  }
}

.about-list {
  margin: 0;
  list-style: none;

  li {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: justify;
    margin: 0 0 10px 0;
  }
}

.banner-content-wrap {
  max-width: 800px;
  margin: -95px auto 0 auto;
  padding: 80px 145px;
  background: $yellow;
  box-shadow: $bs-default;
  position: relative;
  z-index: 10;
  text-align: center;
  border-radius: 8px;

  @media (max-width: $screen-md-max) {
    max-width: 600px;
    padding: 50px;
    margin: -50px auto 0 auto;
  }

  @media (max-width: $screen-sm-max) {
    max-width: initial;
    margin: 0 auto;
    border-radius: 0 0 3px 3px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 15px;
  }

  p {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 300;
    margin: 0 0 30px 0;

    &:last-child {
      margin: 0;
    }

    cite {
      display: block;
      margin-top: 15px;
      font-weight: 500;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
      }
    }

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
    }
  }
}

.about-holder {
  padding: 60px 0 100px 0;

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 30px;
      line-height: 32px;
      font-weight: 700;
      margin: 0 0 40px 0;

      @media (max-width: $screen-xs-max) {
        font-size: 24px;
        line-height: 26px;
      }
    }

    p {
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      margin: 0;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }

  &__body {
    max-width: 765px;
    margin: 0 auto;
  }
}

.sort-wrapper {
  .dropdown {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  .selected {
    display: block;
    border-bottom: 1px solid #333;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;

    .mdi {
      float: right;
    }
  }

  .dropdown-menu {
    min-width: initial;
    width: 100%;
  }
}

.about-slider {
  padding: 0 40px;

  @media (max-width: $screen-sm-max) {
    padding: 0;
  }

  &.about-slider-achievements {
    .slick-active {
      .slide {
        border-radius: 8px;
        background-color: #000;
        transform: scale(1.22) translateX(0);

        @media (max-width: $screen-sm-max) {
          transform: none;
        }

        .achievements-content {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .slide {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #000;
      padding: 20px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        border-radius: 8px;
      }

      .achievements-content {
        opacity: 0;
        visibility: hidden;
        @include transition(0.2s);

        h4, span {
          position: relative;
          z-index: 10;
        }

        h4 {
          font-size: 24px;
          line-height: 26px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          margin: 0;

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
            line-height: 23px;
          }
        }

        span {
          display: block;
          font-size: 18px;
          line-height: 20px;
          font-weight: 300;
          color: #fff;
          margin: 5px 0;
        }
      }
    }
  }

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }

  .slick-arrow {
    position: absolute;
    bottom: -60px;
    min-width: 245px;
    background-color: #4fc5eb;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    z-index: 10;
    cursor: pointer;
    @include transition(0.2s);

    @media (max-width: $screen-xs-max) {
      bottom: 0;
      width: 50px;
      height: 50px;
      min-width: initial;
      font-size: 0;
      padding: 0;

      .mdi {
        font-size: 25px;
        line-height: 25px;
        @include center(both);
      }
    }

    &:hover {
      background-color: #35b1d8;
    }

    &.slick-prev {
      left: -40px;

      @media (max-width: $screen-md-max) {
        left: 0;
      }
    }

    &.slick-next {
      right: -40px;

      @media (max-width: $screen-md-max) {
        right: 0;
      }
    }
  }

  .slick-track {
    padding: 80px 0;

    @media (max-width: $screen-xs-max) {
      //padding: 40px 0;
    }
  }

  .slick-active {
    .slide {
      border-radius: 130px 8px 8px 8px;
      transform: scale(1.2) translateX(15px);
      z-index: 10;
      box-shadow: $bs-hover;
      background-color: $yellow;

      @media (max-width: $screen-sm-max) {
        transform: none;
      }

      @media (max-width: $screen-xs-max) {
        border-radius: 8px;
      }

      .slide-info,
      .slide-img {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .slide {
    background-color: #e5c124;
    width: 344px;
    min-height: 250px;
    outline: none;
    border-radius: 8px;
    padding: 15px 0;
    transform: scale(0.8);
    position: relative;
    @include transition(0.5s);

    @media (max-width: $screen-sm-max) {
      min-height: 210px;
    }

    @media (max-width: $screen-xs-max) {
      min-height: 160px;
      margin-bottom: 160px;
    }

    .slide-img {
      width: 217px;
      height: 217px;
      margin-left: -30px;
      border-radius: 8px 8px 130px 8px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      opacity: 0;
      visibility: hidden;
      @include transition(0.2s);

      @media (max-width: $screen-sm-max) {
        width: 180px;
        height: 180px;
        border-radius: 8px 8px 75px 8px;
      }

      @media (max-width: $screen-xs-max) {
        margin-left: -10px;
        width: 120px;
        height: 120px;
        border-radius: 3px 3px 30px 3px;
      }
    }

    .slide-info {
      flex: 1;
      padding: 20px 20px 40px 20px;
      position: relative;
      opacity: 0;
      visibility: hidden;
      @include transition(0.2s);

      @media (max-width: $screen-xs-max) {
        padding: 20px 15px 40px 15px;
      }

      h3 {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 5px 0;
      }

      .position {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .human-tags {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin: 0 0 20px 0;
      }

      .date {
        display: block;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
      }
    }
  }
}

.read-more {
  display: block;
  position: absolute;
  bottom: 1px;
  right: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #333;
  z-index: 10;
  text-transform: uppercase;
  outline: none;
  border-bottom: 1px solid transparent;
  @include transition(0.2s);

  &.read-more-achievement {
    color: $yellow;
    bottom: 20px;

    @media (max-width: $screen-xs-max) {
      bottom: 10px;
    }

    &:hover {
      color: $yellow;
      border-color: $yellow;
    }
  }

  &:hover {
    border-color: #333;
    color: #222;
    text-decoration: none;
  }
}

.century-wrap {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: $yellow;
  margin: -20px auto 0 auto;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    width: 80px;
    height: 80px;
    margin: -60px auto 0 auto;
  }

  span {
    display: block;
    font-size: 36px;
    line-height: 121px;
    font-weight: 700;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
      line-height: 80px;
    }
  }
}

.reviews-title {
  display: block;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 160px;

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 100px;
  }
}

.reviews-grid {
  padding: 0 30px;

  @media (max-width: $screen-md-max) {
    padding: 0;
  }
}

.review-right-column {
  padding-top: 80px;

  @media (max-width: $screen-xs-max) {
    padding-top: 0;
  }
}

.review-col {
  width: 100%;
  border-radius: 15px;
  background-color: $yellow;
  box-shadow: $bs-default;
  padding: 0 60px 60px 60px;
  margin-bottom: 110px;
  @include transition(0.3s);

  &:hover {
    box-shadow: $bs-hover;
  }

  @media (max-width: $screen-md-max) {
    padding: 0 30px 30px 30px;
  }

  .review-logo {
    width: 215px;
    height: 215px;
    border-radius: 15px;
    box-shadow: $bs-default;
    background: #fff;
    position: relative;
    margin: 0 auto -40px auto;
    transform: translateY(-80px);

    img {
      @include center(both);
      max-width: 100%;
    }
  }

  .review-text {
    .mdi-format-quote-close {
      display: block;
      text-align: center;
      font-size: 70px;
      line-height: 30px;
      margin-bottom: 30px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
      }
    }

    p {
      font-size: 30px;
      line-height: 35px;
      font-weight: 300;
      text-align: justify;
      margin-bottom: 65px;

      @media (max-width: $screen-md-max) {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 40px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
      }

      .watch-video {
        display: inline-block;
        margin-top: 40px;
        text-decoration: none;
        outline: none;

        &:hover {
          i {
            border-color: transparent;
          }
        }

        .mdi-play {
          display: inline-block;
          vertical-align: middle;
          color: $blue-dark;
          font-size: 35px;
          margin-left: -11px;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          font-size: 24px;
          line-height: 26px;
          font-weight: 400;
          color: $blue-dark;
          font-style: normal;
          border-bottom: 1px solid $blue-dark;
          @include transition(0.2s);

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.review-author {
  .author-img {
    width: 80px;
    height: 80px;
    margin-right: 25px;

    @media (max-width: $screen-xs-max) {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .author-info {
    flex: 1;

    span {
      display: block;
      font-size: 24px;
      line-height: 26px;

      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 20px;
      }

      &.name {
        font-weight: 700;
      }

      &.position {
        font-weight: 300;
      }
    }
  }
}

.vacancy-wrap {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $bs-default;
  margin-bottom: 30px;
  @include transition(0.2s);

  &:hover {
    box-shadow: $bs-hover;
  }

  h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    min-height: 78px;
    margin: 0 0 5px 0;

    @media (max-width: $screen-sm-max) {
      min-height: initial;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      line-height: 22px;
      margin: 0 0 15px 0;
    }
  }

  span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .career-look {
    min-width: 150px;
    min-height: 36px;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 0 7px 0;
  }
}

.learn-more-button {
  padding-top: 50px;
}

.consulting-nav-wrap {
  margin-bottom: 20px;
  padding: 10px 0;
  @include transition(0.3s);

  .consulting-nav {
    a {
      display: inline-block;
      margin-right: 20px;
      color: #333;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      @include transition(0.3s);
    }
  }
}

.software-search {
  position: relative;

  input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 25px 5px 10px;
    border-bottom: 1px solid #b5b7b9;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #333;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;

    .mdi {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

.software-solutions {
  padding-bottom: 100px;

  .software-col {
    display: block;
    padding: 20px;
    box-shadow: $bs-default;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 30px;
    text-decoration: none;
    @include transition(0.3s);

    &:hover {
      box-shadow: $bs-hover;
    }

    @media (max-width: $screen-xs-max) {
      padding: 10px;
      margin-bottom: 15px;
    }

    .software-logo {
      width: 150px;
      height: 150px;
      position: relative;
      margin-right: 30px;

      @media (max-width: $screen-xs-max) {
        width: 75px;
        height: 75px;
        margin-right: 15px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        @include center(both);
      }
    }

    .software-info {
      flex: 1;
      color: #333;

      .software-info-top {
        .software-info-title {
          display: block;
          margin: 0 0 15px 0;
          font-size: 24px;
          line-height: 26px;
          font-weight: 700;

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
            line-height: 20px;
          }
        }

        p {
          font-size: 16px;
          line-height: 23px;
          font-weight: 300;
          margin: 0 0 15px 0;
        }
      }

      .software-info-bottom {
        .software-info-bottom-col {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          @media (max-width: $screen-xs-max) {
            margin-bottom: 15px;
          }

          span {
            display: block;
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
          }

          i {
            display: block;
            font-style: normal;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
          }

          img {
            display: inline-block;
            vertical-align: middle;
            height: 30px;
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.software-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-bottom: 80px;

  mark {
    background: none;
    padding: 0;
    color: $blue-dark;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.software-dropdown {
  @media (max-width: $screen-sm-max) {
    margin: 15px 0;
  }

  .download-button {
    min-width: 200px;
    background-color: $blue-light;
    outline: none;
    border: none;
    text-align: left;
    border-radius: 3px;
    padding: 15px 15px 13px 15px;
    cursor: pointer;

    &[aria-expanded='true'] {
      border-radius: 3px 3px 0 0;
    }

    mark {
      display: block;
      text-transform: uppercase;
      color: #fff;
      background: none;
      padding: 0;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      overflow: hidden;

      .mdi {
        float: right;
      }
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 3px 3px;
    padding: 0;
    width: 100%;

    a {
      padding: 10px 15px;
      @include transition(0.3s);

      &:last-child {
        border-radius: 0 0 3px 3px;
      }

      &:hover {
        background-color: #f1f5f8;
      }
    }
  }
}
