<div class="{% if class %}{{ class }}{% else %}back-wrapper{% endif %} position-top-left">
  <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{{ url }}{% endif %}">
    <span class="back-icon">
      <span class="mdi mdi-arrow-left"></span>
    </span>
    <mark>{{ text }}</mark>
  </a>
</div>