{% extends 'base.html' %}
{% load menu_tags %}

{% block content %}
  <div class="setting-wrapper">
  <div class="settings-section">
    <div class="heading-title">
      <div class="wrapper">
        <h2>User Settings</h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="categories-wrapper d-flex justify-content-between align-items-center">
        <div class="categories-list d-flex justify-content-between align-items-end">
          {% show_menu 1 %}
        </div>
      </div>
      <div class="settings-user-info d-flex flex-row justify-content-between align-items-center">
      {% if user.is_customer %}
        <span><i>Active </i>{{ user.active_projects }} projects</span>
      {% elif user.is_pm %}
        <span><i>Active </i>{{ user.active_projects }} project{% if user.active_projects > 1 %}s{% endif %}</span>
      {% elif user.is_contractor %}
        <span><i>Active </i>{{ user.active_services }} services</span>
      {% elif user.is_blogger %}
        <span><i>Active </i>{{ user.blogger.active_articles }} articles</span>
      {% endif %}
        <span><i>Joined </i>{{ request.user.date_joined|date:"M Y" }}</span>
      </div>

      {% block settings_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
