<template>
  <div class="col-lg-6">
    <div class="content-cards d-flex">
      <div
        class="card-img"
        :style="{'background-image': `url(${item.image})`}"
      />
      <div class="card-description">
        <span
          class="mdi mdi-pencil"
          @click.prevent="edit"
        />
        <span
          class="mdi mdi-delete"
          style="color: red;"
          @click.prevent="remove"
        />
        <span class="name-category">
          {{ item.category.name }}
        </span>
        <span class="name-article">
          {{ item.title }}
        </span>
        <span class="date">
          {{ item.location }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    edit() {
      bus.$emit('edit', this.item)
    },
    remove() {
      bus.$emit('remove', this.item.id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .mdi-pencil {
    right: 30px !important;
  }
</style>
