<template>
  <div class="admin-container__body">
    <Filters
      :industries="industries"
    />
    <div
      v-if="!loading"
      class="row flex-wrap"
    >
      <Item
        v-for="project in filteredProjects"
        :key="project.id"
        :user="user"
        :project="project"
      />
      <InfiniteLoading
        :distance="10"
        snipper="spiral"
        @infinite="infiniteHandler"
      >
        <span slot="no-more" />
        <span slot="no-results" />
      </InfiniteLoading>
    </div>
    <div v-else>
      loading...
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
import moment from 'moment'
import Item from './Item'
import Filters from './Filters'
import bus from './bus'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'List',
  components: {
    Item,
    Filters,
    InfiniteLoading,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    industries: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      projects: null,
      search: '',
      page: 1,
      hasNext: false,
      loading: true,
      archive: false,
      industry: null,
      sortby: null,
    }
  },
  computed: {
    filteredProjects() {
      let { projects } = this

      if (this.search) {
        projects = projects.filter(project => project.name.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.archive) {
        projects = projects.filter(project => project.is_archived)
      } else {
        projects = projects.filter(project => !project.is_archived)
      }

      if (this.industry) {
        projects = projects.filter(project => project.industry.id === this.industry)
      }

      if (this.sortby === 'popularity') {
        projects.sort((prev, curr) => curr.views - prev.views)
      }

      if (this.sortby === 'newest') {
        projects.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate > currDate) {
            return -1
          }

          if (prevDate < currDate) {
            return 1
          }

          return 0
        })
      }

      if (this.sortby === 'oldest') {
        projects.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate > currDate) {
            return 1
          }

          if (prevDate < currDate) {
            return -1
          }

          return 0
        })
      }

      return projects
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-projects" %}',
      params: { page: this.page },
      headers: {
        Authorization: `JWT ${this.user.token}`
      }
    })

    if (response.status === 200) {
      this.loading = false
      this.projects = response.data.results
    }
    if (response.data.next) {
      this.page += 1
      this.hasNext = true
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
    bus.$on('archive', this.archiveProject)
  },
  methods: {
    handleFilters({ name, value }) {
      this[name] = value
    },
    async archiveProject(pk) {
      const response = await axios({
        method: 'put',
        url: '{% url "archive-project" %}',
        data: { pk },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        const index = this.projects.findIndex(project => project.id === pk)
        this.$set(this.projects, index, response.data)
      }
    },
    async infiniteHandler($state) {
      const hasMore = await this.loadMore()

      if (hasMore) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async loadMore() {
      if (this.hasNext) {
        const projects = await this.fetchData(this.page)
        this.projects.push(...projects)
      }

      return this.hasNext
    },
    async fetchData(page) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "admin-get-projects" %}',
        params: { page }
      })

      this.hasNext = !!data.next
      this.page += 1

      return data.results
    }
  }
}
</script>
