<template>
    <div>
        <div class="homepage-main-wrapper" v-if="isShowVideo">
            <!--    <div class="hp-main-text">-->
            <!--      <span>Engineering inventions based on passion and big ideas.</span>-->
            <!--    </div>-->
            <!--		<a href="{% page_url 'for-a-customer' %}" class="meet-button">Let us meet</a>-->
            <a href="#let-us-meet" class="meet-button">Let us meet</a>
            <video class="my-video-bg" autoplay muted loop>
                <source src="/static/videos/video-bg.mp4" type="video/mp4">
                <source src="/static/videos/video-bg.webm" type="video/webm">
                Your browser does not support  the video tag.
            </video>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'LandingVideo',
        data(){
          return {
              isShowVideo: null
          }
        },
        created() {
            this.isShowVideo = this.checkWindow()
        },
        mounted(){

            window.addEventListener("resize", ()=> {
                this.isShowVideo = this.checkWindow()
            });
        },
        methods: {
            checkWindow() {
                if (window.innerWidth >= 1024) {
                    return true
                } else {
                    return false
                }
            }
        }
    }

</script>