<template>
  <div>
    <div class="admin-edit-top d-flex justify-content-between flex-wrap">
      <a
        href="#"
        class="admin-back"
        @click.prevent="close"
      >
        <span class="mdi mdi-arrow-left" /> Back
      </a>
      <!--div.edit-controls-->
    </div>
    <div class="admin-row">
      <Form
        ref="editForm"
        :fields="fields"
        :submit="submit"
      >
        <template
          slot-scope="{
            models: {
              name, birth, death, century, activity, bio, shortBio
            }, isValid, isLoading
          }"
        >
          <div class="edit-wrapper">
            <!-- person name -->
            <div
              v-if="!shouldEditName"
              class="edit-top"
            >
              <span class="article-title">
                {{ name.value || 'Person name' }} <span
                  class="mdi mdi-pencil"
                  @click.prevent="shouldEditName=true"
                />
              </span>
            </div>
            <div
              v-else
              class="input-row"
            >
              <input
                id="name"
                v-model="name.value"
                type="text"
                :class="{active: name.value}"
                autofocus
                @keyup.enter="shouldEditName=false"
                @blur="shouldEditName=false"
              >
              <label
                for="name"
                :style="name.error ? 'color: red;' : ''"
              >
                {{ name.error || 'Person name' }}
              </label>
            </div>


            <div class="select-size-img">
              <span>Upload photo</span>
              <div class="upload-img d-flex align-items-center flex-wrap">
                <ClipperUpload
                  ref="img"
                  v-model="image"
                  class="upload-block w80"
                />
              </div>
              <ClipperFixed
                v-if="image"
                ref="clipper"
                :src="image"
                :ratio="260/260"
                preview="preview"
                style="max-width: 600px;"
              />
              <button
                v-if="image"
                @click.prevent="clip"
              >
                clip!
              </button>
              <img
                v-if="preview || item && item.photo"
                :src="preview || item && item.photo"
                width="260"
                height="260"
              >
            </div>
            <div class="row project-filters">
              <div class="input-row">
                <input
                  id="birth"
                  v-model="birth.value"
                  type="text"
                  :class="{active: birth.value}"
                  style="min-width: 220px;"
                >
                <label
                  for="birth"
                  :style="birth.error ? 'color: red;' : ''"
                >
                  {{ birth.error || 'Year of birth' }}
                </label>
              </div>
              <div class="input-row">
                <input
                  id="death"
                  v-model="death.value"
                  type="text"
                  :class="{active: death.value}"
                  style="min-width: 220px;"
                >
                <label for="death">
                  Year of death
                </label>
              </div>
              <div class="input-row">
                <InputDropdown
                  id="century"
                  v-model="century.value"
                  :error="century.error"
                  :items="centuries"
                  :get-key="item => item.id"
                  :get-value="item => item.name"
                  label="Century"
                />
              </div>
              <div class="input-row">
                <InputDropdown
                  id="activity"
                  v-model="activity.value"
                  :error="activity.error"
                  :items="activities"
                  :get-key="item => item.id"
                  :get-value="item => item.name"
                  label="Kind if activity"
                />
              </div>
            </div>
            <RichTextEditor
              id="bio"
              :content="bio.value"
              :error="bio.error"
              content-class="autoheight"
              style="margin-bottom: 40px;"
              @change="setBio"
            />
            <div class="input-row">
              <input
                id="short"
                v-model="shortBio.value"
                type="text"
                :class="{active: shortBio.value}"
              >
              <label
                for="short"
                :style="shortBio.error ? 'color: red;' : ''"
              >
                {{ shortBio.error || 'Short bio' }}
              </label>
            </div>
            <div class="edit-buttons d-flex justify-content-end">
              <Submit
                class="btn-site"
                value="Save"
                :loading="isLoading"
                :disabled="!isValid || isLoading"
              />
            </div>
          </div>
        </template>
      </Form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputDropdown,
  RichTextEditor,
  Submit
} from '@/components/Form'
import { isRequired, maxLength } from '@/utils/validators'
import bus from './bus'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'EditForm',
  components: {
    Form,
    InputDropdown,
    RichTextEditor,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    item: {
      type: Object,
      default: () => {}
    },
    centuries: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'birth', validators: [isRequired, maxLength(4)] },
        { name: 'death' },
        { name: 'century', validators: [isRequired] },
        { name: 'activity', validators: [isRequired] },
        { name: 'bio', validators: [isRequired] },
        { name: 'shortBio', validators: [isRequired] }
      ],
      shouldEditName: false,
      image: null,
      preview: null
    }
  },
  watch: {
    image() {
      if (this.$refs.img.file.size > 2097152) {
        this.notify('error', 'File is too large. 2MB is the limit!')
        this.image = null
      }
    }
  },
  created() {
    const { item, fields } = this

    if (item) {
      fields[0].value = item.name
      fields[1].value = item.year_of_birth
      fields[2].value = item.year_of_death
      fields[3].value = item.century
      fields[4].value = item.activity
      fields[5].value = item.bio
      fields[6].value = item.short_bio
    }
  },
  methods: {
    setBio(value) {
      this.$refs.editForm.setFieldValue('bio', value)
    },
    clip() {
      const img = this.$refs.clipper.clip()
      this.image = ''
      this.preview = img.toDataURL('image/jpg', 1)
    },
    submit(values) {
      if (this.item) {
        this.update(values)
      } else {
        this.create(values)
      }
    },
    async create(values) {
      const data = {
        name: values.name,
        year_of_birth: values.birth,
        year_of_death: values.death,
        century_id: values.century.id,
        activity_id: values.activity.id,
        bio: values.bio,
        short_bio: values.shortBio,
      }
      if (this.preview) {
        data.photo = this.preview
      }

      const response = await axios({
        method: 'post',
        url: '{% url "create-person" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        bus.$emit('updateList', response.data)
      }
    },
    async update(values) {
      const data = {
        name: values.name,
        year_of_birth: values.birth,
        year_of_death: values.death,
        century_id: values.century.id,
        activity_id: values.activity.id,
        bio: values.bio,
        short_bio: values.shortBio,
        pk: this.item.id,
      }
      if (this.preview) {
        data.photo = this.preview
      }

      const response = await axios({
        method: 'put',
        url: '{% url "update-person" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        bus.$emit('updateList', response.data)
      }
    },
    close() {
      bus.$emit('close')
    }
  }
}
</script>
