<template>
  <Form
    :class="[
      switched && (currentForm === 'sign-up' ? 'active-dx' : 'inactive-dx'),
      {transformed: currentForm === 'sign-in'}
    ]"
    class="enter-form signUp"
    :fields="fields"
    :submit="register"
  >
    <template slot-scope="{ models: { name, email, password, password2 }, isValid, isLoading }">
      <h2>Sign Up</h2>
      <div class="inputs-wrap">
        <InputRow
          id="name"
          v-model="name.value"
          :error="name.error"
          label="Name"
        />
        <InputRow
          id="email-signup"
          v-model="email.value"
          :error="email.error"
          type="email"
          label="Email"
        />
        <InputRow
          id="password-signup"
          v-model="password.value"
          :error="password.error"
          type="password"
          label="Password"
        />
        <InputRow
          id="password2"
          v-model="password2.value"
          :error="password2.error"
          type="password"
          label="Re-enter password"
        />
        <div class="enter-form-button">
          <Submit
            class="btn-site"
            value="CREATE ACCOUNT"
            :loading="isLoading"
            :disabled="!isValid"
          />
        </div>
        <div class="hint-wrapper">
          <p>
            By signing up, you agree to
            <a href="/static/Terms_of_Services_(Engre).pdf" target="_blank">
              our terms of use
            </a>, <a href="/static/Privacy_Policy_(Engre).pdf"  target="_blank">
              privacy policy.
            </a>
          </p>
        </div>
      </div>
      <div
        class="go-to-button go-to-register"
        @click="goToForm('sign-up')"
      >
        <span>New to Engre? <i>Sign up</i></span>
      </div>
    </template>
  </Form>
</template>

<script>
import Form, { InputRow, Submit } from '@/components/Form'
import {
  isRequired, isEmail, shouldBeEqual, minLength
} from '@/utils/validators'
import { Toast, capitalizeOne } from '@/utils'
import axios from 'axios'

export default {
  name: 'SignUp',
  components: {
    Form,
    InputRow,
    Submit
  },
  props: {
    goToForm: {
      type: Function,
      required: true
    },
    currentForm: {
      type: String,
      default: 'signIn'
    },
    switched: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'password', validators: [isRequired, minLength(4)] },
        { name: 'password2', validators: [isRequired, shouldBeEqual('password', 'Passwords do not match')] },
      ],
    }
  },
  methods: {
    async register(values) {
      try {
        const response = await axios({
          method: 'post',
          url: '{% url "sign-up" %}',
          data: values
        })

        if (response.request.status === 201) {
          await Toast.fire({
            type: 'info',
            title: 'Confirm your email by clicking the link we sent!'
          })

          window.location.replace('/')
        }
      } catch (e) {
        if (e.response.data.email) {
          Toast.fire({
            type: 'error',
            title: capitalizeOne(e.response.data.email[0])
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "./index.scss";
</style>
