<template>
  <BlogCategoryMenu
    :items="[{ id: -1, name: 'Latest', slug: 'latest' }, { id: 0, name: 'Ask a question', slug: 'ask-a-question' }, ...items]"
    :search-query="searchQuery"
    default-item="Ask a question"
    @search="search"
  />
</template>

<script>
import BlogCategoryMenu from '@/components/BlogCategoryMenu'
import bus from './bus'

export default {
  name: 'Menu',
  components: {
    BlogCategoryMenu
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
    searchQuery: {
      type: String,
      default: ''
    }
  },
  watch: {
    searchQuery() {
      bus.$emit('filtersChange', { search: this.searchQuery })
    }
  },
  methods: {
    search(searchQuery) {
      bus.$emit('filtersChange', { search: searchQuery })
      this.$emit('search', searchQuery)
    }
  }
}
</script>
