<template>
  <div>
    <div class="admin-edit-top d-flex justify-content-between flex-wrap">
      <a
        href="#"
        class="admin-back"
        @click.prevent="closeForm"
      >
        <span class="mdi mdi-arrow-left" /> back
      </a>
      <div class="edit-controls">
        <a
          href="#"
          class="archive"
          @click.prevent
        >
          <span class="mdi mdi-archive" />
          To Archive
        </a>
      </div>
    </div>
    <div class="admin-row">
      <div class="edit-wrapper">
        <Form
          ref="editForm"
          :fields="fields"
          :submit="submit"
        >
          <template
            slot-scope="{
              models: {
                category, name, excerpt, content
              }, isValid, isLoading
            }"
          >
            <div class="edit-top justify-content-between d-flex flex-wrap">
              <!-- Article title -->
              <span
                v-if="!shouldEditName"
                class="article-title"
              >
                {{ name && name.value || 'Article title' }}
                <span
                  class="mdi mdi-pencil"
                  @click.prevent="shouldEditName=true"
                />
              </span>
              <div
                v-else
                class="input-row"
              >
                <input
                  id="name"
                  v-model="name.value"
                  type="text"
                  :class="{active: name.value}"
                  autofocus
                  @blur="shouldEditName=false"
                >
                <label
                  for="name"
                  :style="name.error ? 'color: red;' : ''"
                >
                  {{ name.error || 'Article title' }}
                </label>
              </div>
              <div class="dropdown dropdown-select dropdown-add">
                <div
                  class="selected-wrap"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="mdi upload mdi-folder-move" />
                  <span class="label">
                    {{ category ? category.value.name : 'Category' }}
                  </span>
                  <span class="mdi mdi-menu-down" />
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-list-wrapper">
                    <div class="dropdown-list">
                      <div
                        class="dropdown-list-row"
                      >
                        <a
                          v-for="c in categories"
                          :key="c.id"
                          href="#"
                          @click.prevent="setCategory(c)"
                        >
                          {{ c.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            div.select-size-img
            <RichTextEditor
              id="excerpt"
              :content="excerpt.value"
              :error="excerpt.error"
              content-class="textarea-edit height120"
              @change="setExcerpt"
            />
            <RichTextEditor
              id="content"
              :content="content.value"
              :error="content.error"
              content-class="textarea-edit"
              @change="setContent"
            />
            <div class="edit-buttons d-flex justify-content-end">
              <Submit
                class="btn-site"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              />
            </div>
          </template>
        </Form>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import bus from './bus'
import Form, {
  InputDropdown,
  RichTextEditor,
  Submit
} from '@/components/Form'
import { isRequired, isCyrillic } from '@/utils/validators'

export default {
  name: 'EditForm',
  components: {
    Form,
    InputDropdown,
    RichTextEditor,
    Submit
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    item: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    contentManagers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'category', validators: [isRequired] },
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'excerpt', validators: [isRequired] },
        { name: 'content', validators: [isRequired] },
      ],
      shouldEditName: false,
    }
  },
  created() {
    const { item, fields } = this

    if (item) {
      fields[0].value = item.category
      fields[1].value = item.title
      fields[2].value = item.excerpt
      fields[3].value = item.content
    }
  },
  methods: {
    setCategory(item) {
      this.$refs.editForm.setFieldValue('category', item)
    },
    setExcerpt(value) {
      this.$refs.editForm.setFieldValue('excerpt', value)
    },
    setContent(value) {
      this.$refs.editForm.setFieldValie('content', value)
    },
    makeData(values) {
      return {
        pk: this.item.id,
        title: values.name,
        category_id: values.category.id,
        excerpt: values.excerpt,
        content: values.content,
        author: this.item.author.id
      }
    },
    submit(values) {
      const data = this.makeData(values)

      // cropped image

      Swal.fire({
        type: 'question',
        showCloseButton: true,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Publish',
        cancelButtonText: 'Draft',
        customClass: {
          container: 'swal2-confirm-modal',
          confirmButton: 'popup-button',
          cancelButton: 'popup-button'
        }
      }).then(async (result) => {
        if (result.value) {
          data.status = 2
        }
        if (result.dismiss === 'cancel') {
          data.status = 1
        } else if (result.dismiss === 'close' || result.dismiss === 'backdrop') {
          return
        }

        const url = '{% url "update-news-article" %}'
        const method = 'put'

        const response = await axios({
          method,
          url,
          data,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })

        if (response.status === 200) {
          bus.$emit('update', response.data)
        }
      })
    },
    closeForm() {
      bus.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
  .dropdown-add {
    margin-top: -10px;
  }
  .input-row {
    min-width: 300px;
  }
  .swal2-confirm-modal {
   .swal2-popup {
      width: 41em !important;
    }

    .swal2-icon {
      margin: 60px 0;
    }

    .swal2-popup {
      .swal2-styled {
        background-color: #4fc5eb;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0 15px;
        border-radius: 3px;

        &:hover {
          background-color: #39bfeb !important;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .clipper-fixed {
    max-width: 650px;
  }
  .popup-button {
    display: inline-block;
    min-width: 275px;
    min-height: 50px;
    border-radius: 3px;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    background: #4fc5eb !important;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .swal2-popup {
    width: 40em !important;
  }
</style>
