<template>
  <Options
    v-if="!option && !project"
    @setOption="setOption"
  />
  <ProjectForm
    v-else
    :user="user"
    :categories="categories"
    :industries="industries"
    :tags="tags"
    :languages="languages"
    :project="project"
  />
</template>

<script>
import Options from './Options'
import ProjectForm from './ProjectForm'

export default {
  name: 'Project',
  components: {
    Options,
    ProjectForm
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    },
    project: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      option: null
    }
  },
  methods: {
    setOption(option) {
      this.option = option
    }
  }
}
</script>
