<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="reviews-wrap projects-list-wrap">
      <div class="d-flex justify-content-between flex-wrap top-controls">
        <div class="select-option">
          <div class="radio-button">
            <input
              id="rad1"
              type="radio"
              name="radio1"
            >
            <label
              id="platform"
              for="rad1"
              @click.prevent="changeOption('rad1', 1)"
            >
              <span class="radio-circle" />
              <i>Platform</i>
            </label>
          </div>
          <div class="radio-button">
            <input
              id="rad2"
              type="radio"
              name="radio2"
            >
            <label
              id="direct"
              for="rad2"
              @click.prevent="changeOption('rad2', 2)"
            >
              <span class="radio-circle" />
              <i>Direct</i>
            </label>
          </div>
        </div>
        <div class="right-controls d-flex">
          <div class="switch-project-status">
            <a
              href="#"
              class="add-project active"
              :class="{gray: !$parent.shouldShowActive}"
              @click.prevent="$emit('changeList')"
            >
              {{ $parent.shouldShowActive ? 'Active' : 'Archived' }} projects <span
                class="mdi"
                :class="{'mdi-toggle-switch': $parent.shouldShowActive, 'mdi-toggle-switch-off': !$parent.shouldShowActive}"
              />
            </a>
          </div>
          <a
            v-if="user.role === 2"
            href="{% url 'create-project' %}"
            class="add-project"
          >
            Add project <span class="mdi mdi-plus-box" />
          </a>
        </div>
      </div>
      <div class="row flex-wrap">
        <div
          v-for="project in projects"
          :key="project.id"
          class="col-md-6"
        >
          <div class="info-block-wrap">
            <div
              class="status"
              :class="{'dark-grey': project.is_archived, blue: !project.is_archived}"
            />
            <div class="row align-items-center">
              <div class="col-md-5">
                <span>
                  Project: <br><mark class="project-name">
                    {{ project.name }}
                  </mark>
                </span>
              </div>
              <div class="col-md-5">
                <span>Budget: <mark>${{ project.budget }}</mark></span>
                <span class="overflow-text">Company: <mark>{{ project.company.name }}</mark></span>
              </div>
              <div class="col-md-2">
                <div class="review-controls d-flex justify-content-end align-items-center">
                  <span
                    v-if="project.status !== 5"
                    class="mdi mdi-flag-checkered"
                    :class="{finished: project.status === 2, inprocess: project.status === 1}"
                    data-toggle="tooltip"
                  />
                  <span
                    v-if="project.is_archived"
                    class="mdi mdi-undo-variant"
                    @click="toArchive(project.id)"
                  />
                  <div
                    v-else
                    class="dropdown dropdown-top-right"
                  >
                    <span
                      class="mdi mdi-dots-vertical"
                      data-toggle="dropdown"
                      @click="checkProjectReviewStatus(project)"
                    />
                    <DropdownItems
                      :project="project"
                      :user="user"
                      :showReview="showReview"
                      @changeStatus="changeStatus"
                      @toArchive="toArchive"
                      @startProject="handleStartProject"
                      @finishProject="handleFinishProject"
                      @changeType="handleChangeType"
                    />
                    <ReviewForm
                      v-if="project.status == 2"
                      :user="user"
                      :project="project"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="status-hint-wrap bg-white-mobile">
        <span class="deadline">
          - deadline
        </span>
        <span class="new-message">
          - new message
        </span>
        <span class="changes">
          - changes on the board
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import DropdownItems from './DropdownItems'
import ReviewForm from './ReviewForm'
import { Toast } from '@/utils'

export default {
  name: 'ProjectsList',
  components: {
    DropdownItems,
    ReviewForm
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  data(){
    return {
      showReview: true,
      projectReviews: []
    }
  },
  async mounted() {
    await this.checkProjectsReview()
  },
  methods: {

    async checkProjectsReview() {
      const response = await axios({
        method: 'get',
        url: '/api/v1/accounts/reviews/',
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      this.projectReviews = response.data.results
    },

    checkProjectReviewStatus(project) {
      this.checkReview(project.id)
    },

    checkReview(id){
      this.showReview = true
      if (this.projectReviews.length) {
        this.projectReviews.forEach((item) => {
          if (item.project == id) {
            this.showReview = false
          }
        })
      }
    },

    async changeStatus(id, status) {
      const formData = {
        pk: id,
        status,
        instance: 'project',
      }
      const { data } = await axios({
        method: 'post',
        url: '{% url "update-instance-status" %}',
        data: formData,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        window.location.pathname = data.url
      }
    },
    async toArchive(id) {
      const formData = { id }
      const { data } = await axios({
        method: 'post',
        url: '{% url "archive-instance" %}',
        data: formData,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        window.location.pathname = data.url
      }
    },
    changeOption(id, option) {
      this.$emit('handleChangeOption', id, option)
    },
    async handleStartProject(project) {
      try {
        await axios({
          method: 'post',
          url: '{% url "chat:create-message" %}',
          data: {
            request: { project: project.id },
            type: 3,
            sender_id: this.user.id,
            message: `${this.user.name} wants to start "${project.name}" project`,
            fake_id: -1,
            chat_room: project.chat_room_with_pm,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })

        project.has_open_request = true

        Toast.fire({
          type: 'success',
          title: 'Start project request has successfully sent!'
        })
      } catch (e) {
        Toast.fire({
          type: 'error',
          title: 'Something went wrong!'
        })
      }
    },
    async handleFinishProject(project) {
      try {
        await axios({
          method: 'post',
          url: '{% url "chat:create-message" %}',
          data: {
            request: { project: project.id },
            type: 11,
            sender_id: this.user.id,
            message: `${this.user.name} wants to finish "${project.name}" project`,
            fake_id: -1,
            chat_room: project.chat_room_with_pm || project.chat_room_with_contractor,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })

        project.has_open_request = true

        Toast.fire({
          type: 'success',
          title: 'Finish project request has successfully sent!'
        })

        this.checkProjectsReview()
      } catch (e) {
        console.log(e.response)
        Toast.fire({
          type: 'error',
          title: 'Something went wrong!'
        })
      }
    },
    async handleChangeType(project) {
      const response = await axios({
        method: 'patch',
        url: '{% url "update-project-type" %}',
        data: {
          project
        },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        Toast.fire({
          type: 'success',
          title: 'Project type has successfully changed'
        })
        window.location.reload()
      } else {
        Toast.fire({
          type: 'error',
          title: 'Something went wrong!'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .gray {
    color: #99a9b8;
  }
</style>
