<template>
  <div class="sort-wrapper">
    <div class="row">
      <div class="sort-col">
        <InputRow
          id="search"
          label="Search by name"
          @input="handleSearch"
        >
          <span
            slot="icon"
            class="mdi mdi-magnify select-search-button"
          />
        </InputRow>
      </div>
      <div
        v-if="user.is_pm"
        class="sort-col"
      >
        <InputDropdown
          id="sortby"
          label="Sort by"
          :items="[{id: 'project', name: 'Project'}, {id: 'latest', name: 'Latest'}, {id: 'company', name: 'Company'}]"
          :get-value="item => item.name"
          @select="handleSort"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { InputRow, InputDropdown } from '@/components/Form'
import bus from './bus'

export default {
  name: 'Filters',
  components: {
    InputRow,
    InputDropdown,
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    handleSearch(value) {
      bus.$emit('filterMembers', { filterName: 'name', value })
    },
    handleSort(value) {
      bus.$emit('filterMembers', { fieldName: 'sortby', value })
    }
  }
}
</script>
