<template>
  <Modal
    id="invite-user-modal"
    style="display: none;"
    styles="modal-dialog-centered modal-dialog-start-project"
  >
    <div
      class="back-wrapper position-top-left"
      data-dismiss="modal"
      aria-label="Close"
    >
      <a href="#">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
        <mark>Back</mark>
      </a>
    </div>
    <div class="modal-add-wrap">
      <Form
        ref="form"
        :submit="invite"
        :fields="fields"
      >
        <template slot-scope="{ models: { email }, isValid, isLoading }">
          <span class="start-project-title">
            Invite members
          </span>

          <div class="invite-user-email-wrap">
            <InputRow
              id="email"
              v-model="email.value"
              :error="email.error"
              label="Enter the invitee's email"
            />
          </div>

          <Submit
            class="button-styles light-blue"
            :disabled="!isValid"
            :loading="isLoading"
            value="Invite"
          >
            <span
              slot="icon"
              class="mdi mdi-account-plus"
            />
          </Submit>
        </template>
      </Form>
    </div>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import Form, { Submit, InputRow } from '@/components/Form'
import { isRequired, isEmail } from '@/utils/validators'
import axios from 'axios'
import { Toast } from '@/utils'

export default {
  name: 'InviteModal',
  components: {
    Modal,
    Form,
    Submit,
    InputRow,
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      fields: [{ name: 'email', validators: [isRequired, isEmail] }]
    }
  },
  methods: {
    async invite({ email }) {
      try {
        await axios({
          method: 'patch',
          url: `/company/invite-user/${this.user.company.id}/`,
          data: { email },
          headers: { Authorization: `JWT ${this.user.token}` }
        })

        /* eslint-disable no-undef */
        $('#invite-user-modal').modal('hide')

        Toast.fire({ type: 'success', title: 'We sent an email to the invitee' })

        this.$refs.form.setFieldValue('email', '', false)
      } catch (e) {
        if (e.response) {
          if (Array.isArray(e.response.data)) {
            e.response.data.map(error => Toast.fire({ type: 'error', title: error }))
          }
        }
      }
    }
  }
}
</script>
