<template>
  <VueDatePicker
    ref="datepicker"
    v-model="date"
    :lang="lang"
    :range="range"
    :placeholder="placeholder"
    style="width: auto;"
    format="MM/DD/YYYY"
    input-class="input-border"
  >
    <span
      slot="calendar-icon"
      class="mdi mdi-calendar-range icon"
    />
    <span
      slot="mx-clear-icon"
      class="mdi mdi-close icon"
    />
  </VueDatePicker>
</template>

<script>
import VueDatePicker from 'vue2-datepicker'

export default {
  name: 'DatePicker',
  components: {
    VueDatePicker,
  },
  props: {
    placeholder: {
      type: String,
      default: 'mm/dd/yyyy',
    },
    value: {
      type: [Date, Array, String],
      default: null,
    },
    range: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      date: this.value,
      lang: {
        days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        months: [
          'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep',
          'Oct',
          'Nov',
          'Dec',
        ],
        pickers: [
          'next 7 days',
          'next 30 days',
          'previous 7 days',
          'previous 30 days',
        ],
        placeholder: {
          date: 'Select Date',
          dateRange: 'Select Date Range',
        },
      },
    }
  },
  watch: {
    date() {
      this.$emit('input', this.date)
    },
    value() {
      this.date = this.value
    }
  },
}
</script>

<style lang="scss" scoped>
.mdi {
  cursor: pointer;
}

.input-border {
  border-radius: 0;
}

.mx-datepicker {
  display: block;
}
</style>
