<template>
  <div class="d-flex align-items-center">
    <div class="col-smiles">
      <picker
        v-show="showEmojiPicker"
        title="Pick your emoji..."
        emoji="point_up"
        @select="addEmoji"
      />
      <span class="mdi mdi-emoticon" @mousedown.prevent="toggleEmojiPicker"></span>
    </div>
    <div class="col-add">
      <span class="mdi mdi-paperclip">
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload"/>
      </span>
    </div>
    <div class="col-start-project" v-if="user.role === 2">
			<span class="mdi mdi-flag-checkered" data-toggle="modal" data-target="#action-modal"></span>
    </div>
    <div class="col-message">
      <textarea
        ref="textarea"
        placeholder="Message"
        class="chat-message-textarea"
        style="height: 33px; overflow-y:hidden;"
        :value="value"
        @input="$emit('input', $event.target.value)"
      ></textarea>
    </div>
    <div class="col-send">
      <span class="mdi mdi-send" @click.prevent="send"></span>
    </div>

    <Modal styles="modal-dialog-centered modal-dialog-start-project" id="action-modal" ref="modal">
      <div class="back-wrapper position-top-left" data-dismiss="modal" aria-label="Close">
				<a href="#">
					<span class="back-icon">
						<span class="mdi mdi-arrow-left"></span>
					</span>
					<mark>Back</mark>
				</a>
			</div>
      <div class="modal-add-wrap">
				<span class="start-project-title">Select the project:</span>
				<div class="row d-flex flex-wrap start-project-row-wrap"
             v-for="project in projects"
            :key="project.id"
            v-on:click="handleProjectSelection(project)">
					<div class="col-doc">
						<div class="d-flex">
							<div class="text-wrap">
								<mark class="start-txt">Project: <span>{{ project.name }}</span></mark>
								<mark>Budget: <span>${{ project.budget }}</span></mark>
							</div>
						</div>
					</div>
				</div>

				<button type="submit" class="button-styles light-blue" v-on:click="handleFlagAction">
					Start <span class="mdi mdi-flag-checkered"></span>
				</button>
			</div>
    </Modal>
  </div>
</template>

<script>
import { Picker } from 'emoji-mart-vue'
import Modal from '@/components/Modal'

export default {
  components: {
    Picker,
    Modal
  },
  data () {
    return {
      showEmojiPicker: false,
      project: null
    }
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    user: {
      type: Object
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    toggleEmojiPicker () {
      this.showEmojiPicker = !this.showEmojiPicker
    },
    addEmoji (emoji) {
      const textarea = this.$refs.textarea;
      const cursorPosition = textarea.selectionEnd;
      const start = this.value.substring(0, textarea.selectionStart);
      const end = this.value.substring(textarea.selectionStart);
      const text = start + emoji.native + end;
      this.$emit('input', text);
      textarea.focus();
      this.$nextTick(() => {
        textarea.selectionEnd = cursorPosition + emoji.native.length
      })
    },
    send() {
      this.$parent.sendMessage();
      this.showEmojiPicker = false;
    },
    handleFileUpload(){
      this.$parent.file = this.$refs.file.files[0];
      this.$parent.sendMessage();
    },
    handleFlagAction() {
      if (this.project) {
        this.$parent.action = {"project": this.project.id, "_type": this.project.status === 5 ? 1 : 4};
        this.$refs.modal.$el.click();
        this.$parent.sendMessage();
        this.project=null
      }
    },
    handleProjectSelection(project) {
      this.project = project
    }
  }
}
</script>
