Hey! <br>
<br>
{{ user.name }} has invited you to join their project. Check it up following this link. <br>
{{ protocol }}://{{ domain }}{% url 'save-invitee' uid=uid pid=pid token=token %}
If you have been tagged by mistake, just ignore this message. <br>
With appreciation, <br>
ENGRE team <br>