<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="reviews-wrap projects-list-wrap">
      <div class="d-flex justify-content-between flex-wrap top-controls">
        <span class="repeat-title18">
          My services
        </span>
        <div class="right-controls d-flex">
          <div class="switch-project-status">
            <a
              href="#"
              class="add-project active"
              @click.prevent="$emit('changeList')"
            >
              Active services <span class="mdi mdi-toggle-switch" />
            </a>
          </div>
          <a
            href="{% url 'create-service' %}"
            class="add-project"
          >
            Add service <span class="mdi mdi-plus-box" />
          </a>
        </div>
      </div>
      <div class="row flex-wrap">
        <div
          v-for="service in services"
          :key="service.id"
          class="col-md-6"
        >
          <div class="info-block-wrap">
            <div class="status blue" />
            <div class="row align-items-center">
              <div class="col-md-6">
                <span>
                  Service: <br><mark class="project-name">
                    {{ service.name }}
                  </mark>
                </span>
              </div>
              <div class="col-md-5">
                <span>
                  Rate: <mark>
                    {{ service.hourly_rate == 0 ? 'Upon request' : `$${service.hourly_rate}` }}
                  </mark>
                </span>
                <span>Last update: <mark>{{ humanizeDate(service.updated_at) }}</mark></span>
              </div>
              <div class="col-md-1">
                <div class="review-controls d-flex justify-content-end align-items-center">
                  <span
                    v-if="service.is_archived"
                    class="mdi mdi-undo-variant"
                    @click.prevent="archive(service.id)"
                  />
                  <div
                    v-else
                    class="dropdown dropdown-top-right"
                  >
                    <span
                      class="mdi mdi-dots-vertical"
                      data-toggle="dropdown"
                    />
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        :href="`/settings/services/${service.id}/edit`"
                        class="dropdown-item"
                      >
                        Edit service
                      </a>
                      <a
                        href="#"
                        class="dropdown-item"
                        @click.prevent="archive(service.id)"
                      >
                        To archive
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="status-hint-wrap bg-white-mobile">
        <span class="new-message">
          - new message
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'ServicesList',
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    services: {
      type: Array,
      default: () => []
    },
  },
  methods: {
    humanizeDate(date) {
      return moment(date).format('MM.DD.YYYY')
    },
    async archive(id) {
      const formData = { id }
      const { data } = await axios({
        method: 'post',
        url: '{% url "archive-service" %}',
        data: formData,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        window.location.pathname = data.url
      }
    }
  }
}
</script>
