<template>
  <div class="settings-holder settings-remove-bg-mobile overflow-hidden">
    <div class="chat-wrap d-flex">
      <div class="chat-list">
        <Header @search="handleSearch" />
        <ChatList
          :rooms="filter(chatRooms)"
          :user="user"
          :search="search"
          :active-room="activeRoom"
        />
      </div>
      <ChatRoom
        v-for="(chat, index) in filter(chatRooms)"
        :key="chat.id"
        :room="chat"
        :index="index"
        :user="user"
        :class="activeRoom.id === chat.id ? 'active': ''"
        :recipientRole="recipientRole"
        @close="close"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import Header from './Header'
import ChatList from './ChatList'
import ChatRoom from './ChatRoom'
import bus from './bus'
import axios from "axios";

export default {
  name: 'Layout',
  components: {
    Header,
    ChatList,
    ChatRoom
  },
  props: {
    chatRooms: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    isMobile: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      activeRoom: {},
      search: '',
      recipientRole: 0,
    }
  },
  created() {
    bus.$on('selectRoom', this.handleSelectRoom)
  },
  async mounted() {
    const urlParams = new URLSearchParams(window.location.search)
    const availableRooms = this.chatRooms.filter(room => room.hidden_for !== this.user.id)

    if (this.isMobile) {
      console.log('no active room')
    } else if (urlParams.get('room')) {
      const room = availableRooms.find(item => item.id === parseInt(urlParams.get('room'), 10))

      if (room) {
        this.activeRoom = room
      } else {
        this.activeRoom = availableRooms.length ? this.filter(this.chatRooms)[0] : {}
      }
    } else {
      this.activeRoom = availableRooms.length ? this.filter(this.chatRooms)[0] : {}
    }

    await this.checkRecipientRole()
  },
  methods: {
    close() {
      this.activeRoom = {}
    },
    async handleSelectRoom(room) {
      this.activeRoom = room
      await this.checkRecipientRole()
    },
    async checkRecipientRole(){
      try {
        const url = `/api/v1/accounts/${this.activeRoom.recipient.id}/role/`

        const response = await axios({
          method: 'get',
          url,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })
        if (response.data.role) {
          this.recipientRole = response.data.role == null ? 0 : response.data.role
        }
      } catch ({ response }) {
        this.handleErrors(response)
      }
    },
    handleSearch(value) {
      this.search = value
    },
    filter(rooms) {
      return rooms.sort((a, b) => {
        if (a.messages.length && b.messages.length) {
          if (moment(a.messages[a.messages.length - 1].created_at).isBefore(moment(b.messages[b.messages.length - 1].created_at))) {
            return 1
          }

          if (moment(b.messages[b.messages.length - 1].created_at).isBefore(moment(a.messages[a.messages.length - 1].created_at))) {
            return -1
          }
        }

        return 0
      })
    },
  }
}
</script>
