<template>
  <div
    ref="wrapper"
    class="chat-history-wrapper"
  >
    <InfiniteLoading
      :distance="1000"
      spinner="spiral"
      direction="top"
      @infinite="$state => $emit('loadMore', $state)"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
    <template v-for="group in messageGroups">
      <div
        v-if="group.messages.find(message => message.hidden_for !== user.id)"
        :key="group.id"
        class="date"
      >
        <div class="svg-wrap">
          <img
            src="/static/images/wave.svg"
            alt=""
          >
        </div>
        <span>{{ group.date|date }}</span>
      </div>
      <template v-for="message in group.messages">
        <template v-if="message.hidden_for !== user.id">
          <Attachment
            v-if="message.type === ATTACHMENT && message.attachment"
            :key="message.id"
            :message="message"
            :user="user"
            :room="room"
          />
          <ProjectRequest
            v-else-if="message.type === START_REQUEST || message.type === FINISH_REQUEST"
            :key="message.id"
            :user="user"
            :message="message"
            @handleClickAccept="$emit('handleClickAccept')"
          />
          <StartProjectWaiting
            v-else-if="message.type === START_WAITING"
            :key="message.id"
            :message="message"
            :user="user"
            :room="room"
          />
          <StartProjectAnswer
            v-else-if="message.type === START_ACCEPT || message.type === START_REJECT"
            :key="message.id"
            :user="user"
            :message="message"
          />
          <Message
            v-else-if="message.type === MESSAGE"
            :key="message.id"
            :message="message"
            :user="user"
          />
          <SystemMessage
            v-else-if="message.type === SYSTEM_MESSAGE"
            :key="message.id"
            :message="message"
            :user="user"
          />
          <Warning
            v-else-if="message.type === WARNING || message.type === SYSTEM_WARNING"
            :key="message.id"
            :message="message"
            :user="user"
          />
          <Info
            v-else-if="message.type === INFO"
            :key="message.id"
            :message="message"
            :user="user"
          />
        </template>
      </template>
    </template>
  </div>
</template>

<script>
import moment from 'moment'
import InfiniteLoading from 'vue-infinite-loading'
import Message from './Message'
import Attachment from './Attachment'
import ProjectRequest from './ProjectRequest'
import StartProjectWaiting from './StartProjectWaiting'
import StartProjectAnswer from './StartProjectAnswer'
import SystemMessage from './SystemMessage'
import Warning from './Warning'
import Info from './Info'

export default {
  name: 'MessageList',
  components: {
    InfiniteLoading,
    Message,
    Attachment,
    ProjectRequest,
    StartProjectWaiting,
    StartProjectAnswer,
    SystemMessage,
    Warning,
    Info
  },
  filters: {
    date(value) {
      if (!value.isBefore(moment(), 'day')) {
        return 'Today'
      }

      return value.format('D MMMM')
    }
  },
  props: {
    messages: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    },
    room: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      MESSAGE: 1,
      ATTACHMENT: 2,
      START_REQUEST: 3,
      START_WAITING: 4,
      START_ACCEPT: 5,
      START_REJECT: 6,
      SYSTEM_MESSAGE: 7,
      WARNING: 8,
      INFO: 9,
      SYSTEM_WARNING: 10,
      FINISH_REQUEST: 11,
    }
  },
  computed: {
    messageGroups() {
      const groups = []

      this.messages.map((message) => {
        const date = moment(message.created_at)

        const groupIndex = groups.findIndex(item => item.date.format('DD MM YYYY') === date.format('DD MM YYYY'))

        if (groupIndex > -1) {
          groups[groupIndex].messages.push(message)
        } else {
          const newGroup = {
            id: groups.length + 1,
            date,
            messages: [message]
          }
          groups.push(newGroup)
        }

        return message
      })

      return groups
    }
  },
}
</script>

<style lang="scss" scoped>
.chat-history-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  padding: 35px 30px 35px 30px;
}
</style>
