<template>
  <div>
    <span v-if="isShow" class="unread-message"></span>
  </div>
</template>

<script>

    import bus from '@/components/Settings/Chat/bus'
    import ReconnectingWebSocket from 'reconnecting-websocket'

    export default {
        name: 'Notification',
        props: {
            case: {
                // header - from profile modal in main menu
                // chatitem - from chat item (not connect)
                type: String,
                default: 'header'
            },
            user: {
                type: Object
            },
            handle: {
                type: String,
            }
        },
        data() {
            return {
                isShow: false,
                ws: null
            }
        },
        created() {
            // this.isShowButton = this.checkScrollOffset()
            const isChat = window.location.pathname == '/settings/chat/'
            // const isChat = false
            // console.log("is work on profile: ", !this.ws && this.user && !isChat)
            if (!this.ws && !isChat) {
                this.connect()
            }

            // bus.$emit('readMessages', { ids: [] })
            // bus.$on('readMessages', this.handleReadMessages)

        },
        methods: {
            connect() {
                if (this.ws) {
                    this.ws.close()
                }

                const protocol = process.env.NODE_ENV === 'development' ? 'ws' : 'wss'
                this.ws = new ReconnectingWebSocket(`${protocol}://${window.location.host}/ws/notifications/`)
                this.ws.onmessage = this.dispatch
                this.ws.onclose = this.closeHandle
            },
            closeHandle(event) {
                console.log('CLOSE CONNECTION: ', event)
            },
            dispatch(event) {
                console.log(event)
                const data = JSON.parse(event.data)
                console.log(data)
                if (Object.keys(data).length) {
                    this.isShow = true
                    $('.unread-message').addClass('active')
                    console.log('HAS SOCKET')
                } else {
                    this.isShow = false
                    $('.unread-message').removeClass('active')
                    console.log('HASNT SOCKET')
                }
            },

            handleReadMessages(room){
                console.log(room)
            }
        },
        beforeDestroy() {
            if (this.ws) {
                this.ws.close()
                this.ws = null
            }
        },
    }
</script>
