<template>
  <div
    class="d-flex"
    :class="{'justify-content-end': fromUser, 'justify-content-start': !fromUser}"
  >
    <div class="chat-message system-message d-flex align-items-center justify-content-between">
      <!-- eslint-disable-next-line -->
      <span class="chat-text-bold16">{{ message.message }}</span>
      <div
        v-if="!fromUser && !message.request.is_accepted && !message.request.is_rejected"
        class="message-controls"
      >
        <span
          class="mdi mdi-close-box cancel"
          @click="reject"
        />
        <span
          v-if="message.type == 3"
          class="mdi mdi-checkbox-marked confirm"
          data-toggle="modal"
          :data-target="user.role == 2 ? '' : `#start-modal-${message.chat_room}`"
          @click.prevent="handleClickAccept"
        />
        <span
          v-if="message.type == 11"
          class="mdi mdi-checkbox-marked confirm"
          data-toggle="modal"
          :data-target="`#stop-modal-${message.chat_room}`"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import MessageMixin from './MessageMixin'

export default {
  name: 'ProjectRequest',
  mixins: [MessageMixin],
  mounted() {
    if (!this.message.request.is_accepted && !this.message.request.is_rejected) {
      bus.$on('confirmStart', this.accept)
    }
  },
  methods: {
    handleClickAccept(){
      bus.$emit('handleClickAccept', 'confirm')
      if (this.user.role == 2) {
        this.accept({ id: -1})
      }
    },
    async answer(data) {
      await axios({
        method: 'patch',
        url: `/chat/update-request/${this.message.request.id}/`,
        data: { ...data, project: this.message.request.project },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
    },
    async accept(service) {
      if (service != null) {
        await this.answer({ is_accepted: true, service_id: service.id })
      } else {
        await this.answer({ is_accepted: true, service_id: service })
      }
    },
    async reject() {
      await this.answer({ is_rejected: true })
    }
  }
}
</script>
