<template>
  <div
    class="col-doc"
    :class="{active: active}"
    @click="$emit('select', service)"
  >
    <div class="d-flex">
      <div class="text-wrap">
        <mark class="start-txt">
          Service: <span>{{ service.name }}</span>
        </mark>
        <mark>
          Rate:
          <span>
            {{ service.hourly_rate == 0 ? 'Upon request' : `$${service.hourly_rate}` }}
          </span>
        </mark>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Service',
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    service: {
      type: Object,
      required: true
    }
  }
}
</script>
