<template>
  <div
    class="d-flex"
    :class="{'justify-content-start': !fromUser, 'justify-content-end': fromUser}"
  >
    <div
      class="chat-message project-status"
      :class="{'confirmation-accepted': message.request.is_accepted, 'confirmation-rejected': message.request.is_rejected}"
    >
      <!-- eslint-disable-next-line -->
      <p class="chat-text">{{ message.message }} <span class="mdi mdi-check" />
      </p>
    </div>
  </div>
</template>

<script>
import MessageMixin from './MessageMixin'

export default {
  name: 'StartProjectAnswer',
  mixins: [MessageMixin],
}
</script>
