<template>
  <Modal
    :id="disabled ? 'disabled' : `stop-modal-${room.id}`"
    styles="modal-dialog-centered modal-dialog-start-project"
  >
    <div
      ref="close"
      class="back-wrapper position-top-left"
      data-dismiss="modal"
      aria-label="Close"
    >
      <a href="#">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
        <mark>Back</mark>
      </a>
    </div>
    <div class="modal-add-wrap">
      <span class="start-project-title">
        Finish project
      </span>

      <button
        type="button"
        class="button-styles light-blue"
        @click="handleFinishProject"
      >
        Finish <span class="mdi mdi-flag-checkered" />
      </button>
      <span
        v-if="user.role === 2"
        style="position: absolute;
               bottom: 4px;
               right: 11px;
               color: red;
               font-size: 12px;"
      >
        You can finish project from projects list in your settings
      </span>
    </div>
  </Modal>
</template>

<script>
import bus from './bus'
import Modal from '@/components/Modal'

export default {
  name: 'StopProjectModal',
  components: {
    Modal,
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
    room: {
      type: Object,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleFinishProject() {
      bus.$emit('confirmStart', null)
      this.$refs.close.click()
      this.service = null
    }
  }
}
</script>
