<template>
  <div class="d-flex justify-content-center">
    <div class="chat-message warning-message">
      <p class="chat-text">
        <span class="mdi mdi-robot" /> {{ message.message }}
      </p>
    </div>
  </div>
</template>

<script>
import MessageMixin from './MessageMixin'

export default {
  name: 'Warning',
  mixins: [MessageMixin],
}
</script>
