<script>
export default {
  methods: {
    getFacebookAuthUrl(queryParams) {
      return this._buildAuthUrl("{% url 'social:begin' 'facebook' %}", queryParams)
    },
    getGoogleAuthUrl(queryParams) {
      return this._buildAuthUrl("{% url 'social:begin' 'google-oauth2' %}", queryParams)
    },
    getLinkedInAuthUrl(queryParams) {
      return this._buildAuthUrl("{% url 'social:begin' 'linkedin-oauth2' %}", queryParams)
    },
    _buildAuthUrl(baseUrl, queryParams = {}) {
      const url = baseUrl
      const params = new URLSearchParams()

      Object.keys(queryParams).map(key => params.append(key, queryParams[key]))

      if (this.$route.query.next) {
        params.set('next', this.$route.query.next)
      }

      const paramsStr = params.toString()

      if (paramsStr) {
        return `${url}?${params}`
      }

      return url
    }
  },
}
</script>
