<template>
  <div class="row project-filters">
    <div class="input-row industry-dropdown">
      <InputDropdown
        id="industry"
        v-model="industry"
        label="Industry"
        :items="industries"
        :get-value="item => item.name"
      />
    </div>
    <div class="input-row">
      <InputDropdown
        id="investment_amount"
        v-model="amount"
        label="Investment amount"
        :items="investmentAmounts"
        :get-value="item => item.value"
      />
    </div>
    <div class="input-row">
      <InputDropdown
        id="order-by"
        v-model="ordering"
        label="Order by"
        :items="orderingItems"
        :get-value="item => item.value"
      />
    </div>
  </div>
</template>

<script>
import { InputDropdown } from '@/components/Form'
import bus from './bus'

export default {
  name: 'Filters',
  components: {
    InputDropdown
  },
  props: {
    industries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      investmentAmounts: [
        { id: 0, value: '10k - 50k' },
        { id: 1, value: '50k - 100k' },
        { id: 2, value: '100k - 500k' },
        { id: 3, value: '500k - 1kk' }
      ],
      orderingItems: [
        { id: '-interested_requests', value: 'Popularity' },
        { id: '-created_at', value: 'Newest' },
        { id: 'created_at', value: 'Oldest' },
      ],
      industry: null,
      amount: null,
      ordering: { id: '-interested_requests', value: 'Popularity' },
    }
  },
  updated() {
    this.filter()
  },
  methods: {
    filter() {
      const { amount, ordering, industry } = this

      bus.$emit(
        'filter',
        {
          amount: amount && amount.id,
          ordering: ordering.id,
          industry: industry && industry.id
        }
      )
    }
  }
}
</script>
