<template>
  <Modal
    id="interested-modal"
    ref="modal"
    styles="modal-dialog-centered career-modal-dialog"
  >
    <h2>Request</h2>
    <span
      class="modal-close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span class="mdi mdi-close" />
    </span>
    <Form
      :fields="fields"
      :submit="submit"
    >
      <template slot-scope="{ models: { name, email, phone }, isValid, isLoading }">
        <mark>I was interested in this project</mark>
        <InputRow
          id="name"
          v-model="name.value"
          :error="name.error"
          name="name"
          label="Name"
        />
        <InputRow
          id="email"
          v-model="email.value"
          :error="email.error"
          name="email"
          label="Email"
        />
        <InputRow
          id="phone"
          v-model="phone.value"
          :error="phone.error"
          name="phone"
          label="Phone"
        />
        <Submit
          class="btn-site input-row-button"
          :disabled="!isValid"
          :loading="isLoading"
        />
      </template>
    </Form>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import axios from 'axios'
import { isRequired, isEmail } from '@/utils/validators'
import Form, { InputRow, Submit } from '@/components/Form'
import { Toast } from '@/utils'

export default {
  name: 'InterestedModal',
  components: {
    Modal,
    Form,
    InputRow,
    Submit
  },
  props: {
    startupId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'phone', validators: [isRequired] },
      ]
    }
  },
  methods: {
    async submit({ name, email, phone }) {
      try {
        const { status } = await axios({
          method: 'patch',
          url: `/partnership/investors/interested-request/${this.startupId}/`,
          data: { name, email, phone },
        })

        if (status === 200) {
          this.$refs.modal.$el.click()
          Toast.fire({
            type: 'success',
            title: 'Your request has accepted!'
          })
        }
      } catch (e) {
        Toast.fire({
          type: 'error',
          title: 'Oops... Something went wrong!'
        })
      }
    },
  }
}
</script>
