<template>
  <div class="news-row blog-row">
    <div class="row">
      <div class="col-lg-12">
        <a
          :href="startup.url"
          class="news-block"
        >
          <div
            class="news-media"
            :style="`background-image: url('${startup.image}');`"
          />
          <div class="news-info">
            <span class="category-name">
              {{ startup.industry.name }}
            </span>
            <h3 class="news-name">
              {{ startup.name }}
            </h3>
            <span class="news-date">
              {{ startup.created_at | date }}
            </span>
            <p>{{ startup.excerpt }}</p>
            <div class="d-flex justify-content-end align-items-center">
              <SocialShare
                :url="startup.url"
                :title="startup.name"
                :description="startup.excerpt"
                right="-80px"
              >
                <span
                  class="mdi mdi-share-variant blog-article-share no-link"
                  @click.prevent
                />
              </SocialShare>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import SocialShare from '@/components/SocialShare'

export default {
  name: 'Item',
  components: {
    SocialShare
  },
  filters: {
    date(value) {
      return moment(value).format('MMM DD, YYYY')
    }
  },
  props: {
    startup: {
      type: Object,
      required: true
    }
  }
}
</script>
