<template>
  <div class="admin-container__body">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="admin-menu">
        <RouterLink :to="{name: 'about'}">
          About
        </RouterLink>
        <RouterLink :to="{name: 'blog'}">
          Blog
        </RouterLink>
        <RouterLink :to="{name: 'news'}">
          News
        </RouterLink>
        <RouterLink :to="{name: 'partnership'}">
          Partnership
        </RouterLink>
        <RouterLink :to="{name: 'careers'}">
          Careers
        </RouterLink>
      </div>
    </div>
    <RouterView />
  </div>
</template>

<script>

export default {
  name: 'AdminContent',
  created() {
    this.$router.push('about')
  }
}
</script>
