<template>
  <div v-if="loading">
    loading...
  </div>
  <List
    v-else
    :user="user"
    :projects="projects"
    :has-next="hasNext"
    :industries="industries"
  />
</template>

<script>
import axios from 'axios'
import List from '@/components/Admin/Projects'

export default {
  name: 'Projects',
  components: {
    List,
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    industries: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      loading: true,
      projects: null,
      hasNext: null,
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-projects" %}',
      headers: {
        Authorization: `JWT ${this.user.token}`
      }
    })

    if (response.status === 200) {
      this.loading = false
      this.projects = response.data.results
      this.hasNext = !!response.data.next
    }
  },
}
</script>
