<template>
  <div class="admin-container__body">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="admin-menu">
        <RouterLink :to="{name: 'languages'}">
          Languages
        </RouterLink>
        <RouterLink :to="{name: 'profile'}">
          Profile
        </RouterLink>
        <RouterLink :to="{name: 'change-password'}">
          Change password
        </RouterLink>
        <RouterLink :to="{name: 'category'}">
          Category
        </RouterLink>
        <RouterLink :to="{name: 'industry'}">
          Industry
        </RouterLink>
        <RouterLink :to="{name: 'stop-words'}">
          Stop words
        </RouterLink>
      </div>
    </div>
    <RouterView />
  </div>
</template>

<script>
export default {
  name: 'AdminSettings',
  created() {
    this.$router.push('languages')
  }
}
</script>
