<template>
  <div class="editor">
    <EditorMenuBar :editor="editor">
      <div
        slot-scope="{ commands, isActive }"
        class="edit-buttons-wrap d-flex flex-wrap"
      >
        <span
          :class="{ 'is-active': isActive.bold() }"
          class="edit-button"
          @click="commands.bold"
        >
          <span class="mdi mdi-format-bold" />
        </span>
        <span
          :class="{ 'is-active': isActive.italic() }"
          class="edit-button"
          @click="commands.italic"
        >
          <span class="mdi mdi-format-italic" />
        </span>
        <span
          :class="{ 'is-active': isActive.underline() }"
          class="edit-button"
          @click="commands.underline"
        >
          <span class="mdi mdi-format-underline" />
        </span>
        <span
          :class="{ 'is-active': isActive.strike() }"
          class="edit-button"
          @click="commands.strike"
        >
          <span class="mdi mdi-format-strikethrough" />
        </span>
        <span
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          class="edit-button"
          @click="commands.heading({ level: 1 })"
        >
          <span class="mdi mdi-format-header-1" />
        </span>
        <span
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          class="edit-button"
          @click="commands.heading({ level: 2 })"
        >
          <span class="mdi mdi-format-header-2" />
        </span>
        <span
          :class="{ 'is-active': isActive.ordered_list() }"
          class="edit-button"
          @click="commands.ordered_list"
        >
          <span class="mdi mdi-format-list-numbers" />
        </span>
        <span
          :class="{ 'is-active': isActive.bullet_list() }"
          class="edit-button"
          @click="commands.bullet_list"
        >
          <span class="mdi mdi-format-list-bulleted" />
        </span>

        <ImageButton @success="src => commands.image({ src })" />

        <span
          class="edit-button"
          @click="commands.link({ href: 'http://localhost:8000' })"
        >
          <span class="mdi mdi-link-variant" />
        </span>
        <span
          class="edit-button"
          @click="commands.undo"
        >
          <span class="mdi mdi-undo-variant" />
        </span>
        <span
          class="edit-button"
          @click="commands.redo"
        >
          <span class="mdi mdi-redo-variant" />
        </span>
      </div>
    </EditorMenuBar>

    <EditorContent
      ref="content"
      :editor="editor"
      :class="[contentClass, id, {error: error}]"
      class="textarea-edit"
      @click.native="handleClick"
    />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  CodeBlock,
  HardBreak,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  Bold,
  Italic,
  Link,
  History,
  Strike,
  Underline,
  Image,
  Placeholder,
} from 'tiptap-extensions'
import ImageButton from './ImageButton'

export default {
  name: 'RichTextEditor',
  components: {
    EditorContent,
    EditorMenuBar,
    ImageButton,
  },
  props: {
    contentClass: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    error: {
      type: [String, Boolean],
      default: false,
    }
  },
  data() {
    return {
      currentContent: this.content,
      editor: new Editor({
        extensions: [
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [2, 3] }),
          new ListItem(),
          new OrderedList(),
          new Bold(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History(),
          new Image(),
          new Placeholder({
            emptyClass: 'is-empty',
          }),
        ],
        content: this.content,
        onUpdate: this.handleUpdate
      }),
    }
  },
  watch: {
    content() {
      if (this.content !== this.currentContent) {
        this.editor.setContent(this.content)
      }
    }
  },
  beforeDestroy() {
    this.editor.destroy()
  },
  methods: {
    handleUpdate(content) {
      this.currentContent = content.getHTML()
      this.$emit('change', content.getHTML())
    },
    handleClick() {
      // focus content on text area click

      const content = document.querySelector(`.textarea-edit.${this.id}>div`)
      content.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea-edit {
  overflow-y: scroll;
}

.error {
  border-color: red !important;
}
</style>
