<template>
  <span
    class="edit-button"
    @click="chooseImage"
  >
    <div
      v-if="isLoading"
      class="mdi ld ld-ring ld-spin"
    />

    <span
      v-else
      class="mdi mdi-file-image"
    />

    <input
      ref="image"
      accept="image/x-png,image/gif,image/jpeg"
      style="display: none;"
      type="file"
      @input="handleImageChoose"
    >
  </span>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ImageButton',
  data() {
    return {
      isLoading: false
    }
  },
  methods: {
    chooseImage() {
      this.$refs.image.click()
    },
    async handleImageChoose(e) {
      try {
        const file = e.target.files.item(0)
        const formData = new FormData()

        formData.append('file', file)

        const url = '{% url "core:temp-file-upload" %}'

        this.isLoading = true

        const { data } = await axios.post(url, formData)

        this.$emit('success', data.path)
      } catch (error) {
        console.errro("Can't upload an image")
      }

      this.isLoading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.ld-spin {
  margin: auto;
  top: 14px;
}
</style>
