<template>
  <div class="row project-filters d-flex justify-content-between">
    <div class="d-flex">
      <div class="input-row">
        <InputDropdown
          id="industries"
          :items="industries"
          :get-key="item => item.id"
          :get-value="item => item.name"
          label="Scope of application"
          @select="handleSelectIndustry"
        />
      </div>
      <div class="input-row">
        <InputDropdown
          id="amount"
          :items="amounts"
          :get-key="item => item.id"
          :get-value="item => item.value"
          label="Investment amount"
          @select="handleSelectAmount"
        />
      </div>
      <div class="input-row">
        <InputDropdown
          id="sortby"
          :items="sortByItems"
          :get-key="item => item.id"
          :get-value="item => item.value"
          label="Sort by"
          @select="handleSelectSortBy"
        />
      </div>
    </div>
    <div
      class="add-person d-flex justify-content-end"
      @click.prevent="add"
    >
      <a
        href="#"
        class="add-project"
        style="color: #0d47a1;"
      >
        <span class="mdi mdi-plus-box" />
        Add startup
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'
import {
  InputDropdown
} from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputDropdown
  },
  props: {
    industries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      amounts: [
        { id: 1, value: '10k - 50k' },
        { id: 2, value: '50k - 100k' },
        { id: 3, value: '100k - 500k' },
        { id: 4, value: '500k - 1kk' }
      ],
      sortByItems: [
        { id: 0, value: 'Popularity', name: 'popularity' },
        { id: 1, value: 'Newest', name: 'newest' },
        { id: 2, value: 'Oldest', name: 'oldest' },
      ]
    }
  },
  methods: {
    handleSelectIndustry(item) {
      bus.$emit('filtersChange', { name: 'industry', value: item ? item.id : null })
    },
    handleSelectAmount(item) {
      bus.$emit('filtersChange', { name: 'amount', value: item ? item.id : null })
    },
    handleSelectSortBy(item) {
      bus.$emit('filtersChange', { name: 'sortby', value: item ? item.name : null })
    },
    add() {
      bus.$emit('edit')
    }
  }
}
</script>

<style lang="scss" scoped>
  .add-person {
    margin-top: 25px;
    color: rgb(13, 71, 161);
  }
</style>
