<template>
  <div class="row project-filters">
    <InputRow
      v-model="search"
      label="Search by name"
    >
      <span
        slot="icon"
        class="mdi mdi-magnify"
      />
    </InputRow>
    <div class="input-row">
      <InputDropdown
        id="license"
        :items="licenses"
        :get-key="item => item.id"
        :get-value="item => item.name"
        label="Filter by license"
        @select="handleSelectLicense"
      />
    </div>
    <div class="input-row">
      <InputDropdown
        id="os"
        :items="os"
        :get-key="item => item.id"
        :get-value="item => item.name"
        label="Filter by OS"
        @select="handleSelectOS"
      />
    </div>
  </div>
</template>

<script>
import bus from './bus'
import { InputRow, InputDropdown } from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputRow,
    InputDropdown,
  },
  data() {
    return {
      licenses: [
        { id: 0, name: 'Standart License' },
        { id: 1, name: 'Extended License' },
        { id: 2, name: 'Multi License' }
      ],
      os: [
        { id: 0, name: 'Windows' },
        { id: 1, name: 'MacOS' },
        { id: 2, name: 'Linux' }
      ],
      search: '',
    }
  },
  watch: {
    search(value) {
      bus.$emit('filtersChange', { name: 'search', value })
    }
  },
  methods: {
    handleSelectLicense(item) {
      bus.$emit('filtersChange', { name: 'license', value: item ? item.id : null })
    },
    handleSelectOS(item) {
      bus.$emit('filtersChange', { name: 'os', value: item ? item.id : null })
    }
  }
}
</script>

<style>

</style>
