<template>
  <div v-if="loading && !showForm">
    loading...
  </div>
  <EditForm
    v-else-if="showForm"
    :user="user"
    :item="selectedItem"
  />
  <div
    v-else
    class="admin-container__body"
  >
    <Tabs />
    <Filters />
    <div class="row d-flex flex-wrap">
      <Item
        v-for="item in filteredSoftwares"
        :key="item.id"
        :item="item"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import Item from './Item'
import Filters from './Filters'
import Tabs from './Tabs'
import bus from './bus'
import EditForm from './Form'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminSoftware',
  components: {
    Item,
    Filters,
    Tabs,
    EditForm
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      loading: true,
      softwares: [],
      page: 1,
      hasNext: false,
      search: '',
      license: null,
      tab: 'active',
      showForm: false,
      selectedItem: null
    }
  },
  computed: {
    filteredSoftwares() {
      let { softwares } = this

      if (this.search) {
        softwares = softwares.filter(item => item.name.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.license) {
        softwares = softwares.filter(item => item.license === this.license)
      }

      if (this.tab === 'active') {
        softwares = softwares.filter(item => item.is_active)
      }

      if (this.tab === 'hidden') {
        softwares = softwares.filter(item => !item.is_active)
      }

      return softwares
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-softwares" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.softwares = response.data.results
    }

    if (response.data.next) {
      this.hasNext = true
      this.page += 1
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
    bus.$on('openForm', this.openForm)
    bus.$on('closeForm', this.closeForm)
    bus.$on('updateList', this.update)
    bus.$on('remove', this.remove)
  },
  methods: {
    handleFilters({ name, value }) {
      this[name] = value
    },
    openForm(item = null) {
      if (item) {
        this.selectedItem = item
      }
      this.showForm = true
    },
    closeForm() {
      this.showForm = false
      this.selectedItem = null
    },
    update(item) {
      const index = this.softwares.findIndex(software => software.id === item.id)

      if (index > -1) {
        this.notify('success', 'Item has been updated successfully')
        this.$set(this.softwares, index, item)
      } else {
        this.notify('success', 'Item has been added successfully')
        if (!this.hasNext) {
          this.softwares.push(item)
        }
      }
      this.selectedItem = item
    },
    async remove(pk) {
      const url = '{% url "remove-software" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.softwares.findIndex(software => software.id === pk)
              this.softwares.splice(index, 1)
              this.notify('success', 'Software has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>

<style>

</style>
