<template>
  <div class="col-doc">
    <span>{{ item.name }}</span>
    <mark>
      Size:
      <span>
        {{ item.size }}
      </span>
    </mark>
    <div class="dropdown dropdown-top-right">
      <span
        class="mdi mdi-dots-vertical"
        data-toggle="dropdown"
      />
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-position0">
        <a
          href="#"
          class="dropdown-item"
          @click.prevent="open"
        >
          Edit
        </a>
        <a
          href="#"
          class="drodpown-item"
        >
          Hide
        </a>
        <a
          href="#"
          class="dropdown-item"
          @click.prevent="remove"
        >
          Delete
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    open() {
      bus.$emit('openForm', this.item)
    },
    remove() {
      bus.$emit('remove', this.item.id)
    }
  }
}
</script>

<style>

</style>
