<template>
  <div class="d-flex flex-wrap justify-content-between">
    <div class="admin-menu">
      <a
        v-for="tab in tabs"
        :key="tab.id"
        href="#"
        :class="{active: tab.id === selectedTab.id}"
        @click.prevent="select(tab)"
      >
        {{ tab.name }}
      </a>
    </div>
    <div class="button-wrap">
      <a
        href="#"
        class="admin-add-button"
        @click.prevent="open"
      >
        <span class="mdi mdi-plus-box" />
        Add software
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Tabs',
  data() {
    return {
      tabs: [
        { id: 0, name: 'Active', value: 'active' },
        { id: 1, name: 'Hidden', value: 'hidden' }
      ],
      selectedTab: null,
    }
  },
  watch: {
    selectedTab(item) {
      bus.$emit('filtersChange', { name: 'tab', value: item.value })
    }
  },
  created() {
    [this.selectedTab] = this.tabs
  },
  methods: {
    select(tab) {
      this.selectedTab = tab
    },
    open() {
      bus.$emit('openForm')
    }
  }
}
</script>

<style>

</style>
