{% load cms_tags sekizai_tags %}
{% load static vuejs sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link media="all" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css" />
  <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <title>Project Board</title>
  {% render_block "css" %}
</head>

<body class="admin-body">
  <div class="admin-wrapper">
    {% include "admin_dashboard/sidebar.html" %}
    <div class="admin-container">
      <div class="admin-container__top">
        <div class="row">
          <div class="col-md-3 col-sm-6 top-col">
            <span>March 12, 2018</span>
            <mark>Bringing creative projects to life</mark>
          </div>
          <div class="col-md-3 col-sm-6 top-col">
            <span>PROJECTS POSTED</span>
            <mark>1.108</mark>
          </div>
          <div class="col-md-3 col-sm-6 top-col">
            <span>MEMBERS WORLDWIDE</span>
            <mark>2.661</mark>
          </div>
          <div class="col-md-3 col-sm-6 top-col">
            <span>TOTAL SPENT</span>
            <mark>186.000</mark>
          </div>
        </div>
      </div>
      {% block content %}{% endblock content %}
  </div>
  </div>
  <div class="mobile-menu-mask"></div>

  <!-- Include script -->
  <script type="text/javascript" src="{% static 'js/vendor/jquery-3.3.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/header-fixed.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% load_vendor %}
  {% render_block "js" %}

</body>
</html>
