{% load menu_tags %}

<nav class="admin-sidebar__menu">
  {% for child in children %}
    <a
      class="{% if child.selected %} active {% endif %}"
      href="{{ child.attr.redirect_url | default:child.get_absolute_url }}"
    >
      <span class="mdi mdi-{{ child.attr.reverse_id }}"></span>
      <i>{{ child.get_menu_title }}</i>
    </a>
  {% endfor %}
  <a href="{% url 'logout' %}">
    <span class="mdi mdi-logout-variant"></span>
    <i>Exit</i>
  </a>
</nav>