{% extends "admin_dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="admin-container__body admin-chat">
  <div class="settings-holder settings-remove-bg-mobile overflow-hidden moderation-wrapper">
    <div class="d-flex justify-content-between flex-wrap moderation-menu">
      <div class="admin-menu">
        <a href="admin-moderation-messages.html" class="active">Messages <span class="number">4</span></a>
        <a href="admin-moderation-projects.html">Projects <span class="number">2</span></a>
        <a href="admin-moderation-reviews.html">Reviews <span class="number">3</span></a>
        <a href="admin-moderation-support.html">Support <span class="number">2</span></a>
        <a href="#">Industry <span class="number">0</span></a>
        <a href="admin-moderation-skills.html">Core skills <span class="number">11</span></a>
      </div>
    </div>
    <div class="chat-wrap d-flex">
      <div class="chat-list">
        <div class="chat-list-body">
          <div class="repeat-title-line d-flex justify-content-center align-items-center">
            <span>22 May</span>
          </div>
          <div class="moderation-list-row">
            <div class="chat-list-row admin-chat-toggle d-flex align-items-center active">
              <div class="img-wrap">
                <img src="images/avatar.png" alt="">
              </div>
              <div class="chat-preview-info">
                <div class="preview-top">
                  <a href="#">Peter Quill</a>
                  <span class="date">23:12</span>
                </div>
                <p class="chat-text">Congrats on the new job! My <mark>Skype 5454.joy</mark></p>
              </div>
            </div>
            <div class="chat-input-wrapper">
              <div class="d-flex align-items-center">
                <div class="col-smiles">
                  <span class="mdi mdi-emoticon"></span>
                </div>
                <div class="col-add">
                  <span class="mdi mdi-paperclip"></span>
                </div>
                <div class="col-message">
                  <textarea placeholder="Write a message and press Enter" class="chat-message-textarea" style="height: 33px; overflow-y:hidden;"></textarea>
                </div>
                <div class="moderation-buttons">
                  <span class="mdi mdi-close"></span>
                  <span class="mdi mdi-cancel"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="moderation-list-row">
            <div class="chat-list-row admin-chat-toggle d-flex align-items-center">
              <div class="img-wrap">
                <img src="images/avatar.png" alt="">
              </div>
              <div class="chat-preview-info">
                <div class="preview-top">
                  <a href="#">Thanos</a>
                  <span class="date">13:10</span>
                </div>
                <p class="chat-text">Thank you</p>
              </div>
            </div>
          </div>
          <div class="moderation-list-row">
            <div class="chat-list-row admin-chat-toggle d-flex align-items-center">
              <div class="img-wrap">
                <img src="images/admin-logo.png" alt="">
              </div>
              <div class="chat-preview-info">
                <div class="preview-top">
                  <a href="#">Engre / Admin</a>
                  <span class="date">10:08</span>
                </div>
                <p class="chat-text">Congratulations on getting started on the platform</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-holder chat-holder-sections">
        <div class="chat-header d-flex">
          <span class="mdi mdi-arrow-left close-chat"></span>
          <span class="chat-text-bold18">Peter Quill <span class="chat-activity">Last seen at 14:34</span></span>
        </div>
        <div class="admin-chat-wrap admin-moderation-wrap">
          <div class="chat-wrapper">
            <div class="admin-chat-control">
              <span class="mdi mdi-chevron-right"></span>
              <span class="author">Peter Quill / Admin Engre</span>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">Congrats on the new job! My <mark>Skype 5454.joy</mark></p>
                <span class="time">23:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="chat-message system-message d-flex align-items-center justify-content-between">
                <span class="chat-text-bold16">Customer wants to close the project</span>
                <div class="message-controls">
                  <span class="mdi mdi-close-box cancel"></span>
                  <span class="mdi mdi-checkbox-marked confirm"></span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">Thank you</p>
                <span class="time">13:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="chat-message your-message">
                <p class="chat-text">Did you look at the details of the project?</p>
                <span class="time">13:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">This is not the latest version</p>
                <span class="time">15:12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}